In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure your code runs with RUN ALL. It should load the data that you're given, do all the processing, and spit out results. Comment out or remove anything that you've cleaned up and don't need - e.g. if you scaled a value manually, then moved that into a pipeline, don't leave the original scaling code active when the file is run.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a markdown cell at the bottom, and put in a few notes addressing the following:
    <ul>
        <li> Accuracy of your models with/without feature selection. Include both train/test for each. Please use R2 and RMSE. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Hyperparameter Changes / Grid Search Improvements. What did you try, and why. Similar explaination to above, short. 
        <li> Overall this section should be roughly as long as this intro block - just outline what the results were, what you did to improve, and the results after. 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

In [43]:
#Load Data
pd.set_option("display.max_rows", None)
df = pd.read_csv("data/Euro_Salary.csv")
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,25/11/2020 18:28:01,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = df.drop(columns='Timestamp')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 17 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Age                                                     1226 non-null   float64
 1   Gender                                                  1243 non-null   object
 2   City                                                    1253 non-null   object
 3   Position                                                1247 non-null   object
 4   Total years of experience                               1237 non-null   object
 5   Years of experience in Germany                          1221 non-null   object
 6   Seniority level                                         1241 non-null   object
 7   Your main technology / programming language             1126 non-null   object
 8   Other technologies/programming languages you use often  1096 non-null   object
 9   Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
 10  Yearly bonus + stocks in EUR                            829 non-null    object
 11  Number of vacation days                                 1185 non-null   object
 12  Employment status                                       1236 non-null   object
 13  Сontract duration                                       1224 non-null   object
 14  Main language at work                                   1237 non-null   object
 15  Company size                                            1235 non-null   object
 16  Company type                                            1228 non-null   object
dtypes: float64(2), object(15)
memory usage: 166.5+ KB

In [50]:
df['Your main technology / programming language'].value_counts()

Java                                                            195
Python                                                          192
JavaScript                                                       84
PHP                                                              69
C++                                                              40
C#                                                               31
Swift                                                            25
Kotlin                                                           24
Scala                                                            24
TypeScript                                                       23
Go                                                               23
Python                                                           21
.NET                                                             20
Ruby                                                             19
Other                                                            14
SQL                                                              14
JS                                                               12
C                                                                10
iOS                                                              10
R                                                                 9
Android                                                           8
Kubernetes                                                        7
JavaScript                                                        6
Elixir                                                            5
ABAP                                                              5
QA                                                                4
AWS                                                               4
Ruby on Rails                                                     3
c++                                                               3
React                                                             3
Golang                                                            3
Node.js                                                           3
.Net                                                              3
Cloud                                                             3
Embedded                                                          3
Java/Kotlin                                                       2
C#, .net core                                                     2
JavaScript / TypeScript                                           2
Python, SQL                                                       2
JavaScript/Typescript                                             2
Sql                                                               2
Bash                                                              2
yaml                                                              2
NodeJS                                                            2
Spark                                                             2
SAP                                                               2
PHP                                                               2
js                                                                2
Frontend                                                          2
Angular                                                           2
C, C++                                                            2
C/C++                                                             2
go                                                                2
kotlin                                                            2
Figma                                                             2
Java                                                              2
Typescript, Web apps                                              1
Angular, TypeScript                                               1
React JS                                                          1
Business Development Manager Operation                            1
T-SQL                                                             1
Nodejs                                                            1
Apotheker                                                         1
c/c++                                                             1
Python, cloud computing                                           1
golang                                                            1
TS                                                                1
.Net, Angular                                                     1
Pegasystems platform                                              1
Perl                                                              1
Test Management                                                   1
Python (Django)                                                   1
julia                                                             1
Javascript                                                        1
AWS, GCP, Python,K8s                                              1
PM tools                                                          1
Angular, React                                                    1
Kuberenetes, Openstack                                            1
android                                                           1
TypeScript/Angular                                                1
Objective-C                                                       1
Python/NLP                                                        1
Java, JS                                                          1
Scala / Python                                                    1
Kotlin, Java                                                      1
java/scala/go/clouds/devops                                       1
python, scala                                                     1
React / JavaScript                                                1
Management                                                        1
pythin                                                            1
php, js, python, docker                                           1
C, Matlab                                                         1
Java & PHP                                                        1
AI                                                                1
Python + SQL                                                      1
Network                                                           1
Typescript                                                        1
Terraform, Kubernetes, AWS, GCP, Ansible, Puppet                  1
Aws Hadoop Postgre Typescript                                     1
Angular, Typescript                                               1
Spring                                                            1
python                                                            1
Node                                                              1
Hardware                                                          1
Salesforce                                                        1
SAP / ABAP                                                        1
Kubrrnetes                                                        1
PowerShell                                                        1
C++/C#                                                            1
Kotlin                                                            1
Java, .Net                                                        1
.net, c++, spss, embeddded                                        1
JavaScript, TypeScript                                            1
React/Typescript                                                  1
Java/C++                                                          1
Golang                                                            1
VB, RPA, Python                                                   1
Qlik                                                              1
C++, C#                                                           1
Erlang                                                            1
Javascript/Typescript                                             1
Офмф                                                              1
Python, Whole Apache Data Science Stack, AWS                      1
Java, terraform                                                   1
Google Cloud Platform                                             1
Scala, Apache Spark                                               1
Java, JavaScript                                                  1
Spark, Pytorch                                                    1
Sql                                                               1
JS, Java                                                          1
k8s                                                               1
spark                                                             1
ML                                                                1
Cobol                                                             1
Azure, SAP                                                        1
Terraform                                                         1
Web                                                               1
Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts      1
NodeJS, Typescript, AWS                                           1
Python, Pytorch                                                   1
JAVA                                                              1
embedded                                                          1
Tricentis Tosca                                                   1
C#/.NET                                                           1
Autonomous Driving                                                1
C++/c                                                             1
Charles                                                           1
JavScript                                                         1
Qlik BI Tool, SQL                                                 1
Java, angular, Aws                                                1
Azure                                                             1
Pyrhon                                                            1
Django, Flask, Plotly Dash                                        1
Go/Python                                                         1
Sketch, Figma                                                     1
NodsJs                                                            1
nothing                                                           1
Java & Distributed Systems Stuff                                  1
Java, Kotlin                                                      1
SAP ABAP                                                          1
Linux Kernel                                                      1
Swift, objective-c                                                1
networking, linux, automation, cloud                              1
BI, DWH, ETL/ELT                                                  1
Swift/Kotlin                                                      1
several                                                           1
scala                                                             1
Frontend: react, node.js                                          1
React                                                             1
DWH                                                               1
Java, Javascript                                                  1
C# .NET                                                           1
consumer analysis                                                 1
c#                                                                1
Java Backend                                                      1
PL/SQL                                                            1
jenkins bash                                                      1
Terraform                                                         1
SRE                                                               1
Blockchain                                                        1
Sql, BQ, tableau, gtm, ga                                         1
UML                                                               1
DC Management                                                     1
ruby on rails                                                     1
VHDL                                                              1
JS, WDIO                                                          1
swift                                                             1
PHP/MySQL                                                         1
SAS,SQL,Python                                                    1
Typescript / Angular                                              1
Ml/Python                                                         1
Power BI                                                          1
typescript                                                        1
Python / JavaScript (React)                                       1
Python, database technologies                                     1
Atlassian JIRA                                                    1
Qml                                                               1
Swift, Objective-C                                                1
TypeScript, React                                                 1
Python/SQL                                                        1
Haskell                                                           1
Scala, React.js                                                   1
sql                                                               1
Js, reactJS                                                       1
PS, Sketch, React, CSS3                                           1
Linux                                                             1
Magento                                                           1
React.js / TypeScript                                             1
Go, PHP, SQL                                                      1
SWIFT                                                             1
Grails, Groovy                                                    1
TypeScript, JavaScript                                            1
Kubernetes, Terraform, GCP                                        1
Apache Spark                                                      1
Computer Networking,  Network Security                            1
--                                                                1
JavaScript/TypeScript                                             1
Java/Groovy                                                       1
Name: Your main technology / programming language, dtype: int64

In [48]:
df['Your main technology / programming language'].replace('Php', "PHP", inplace=True)
df['Your main technology / programming language'].replace('php', "PHP", inplace=True)
df['Your main technology / programming language'].replace('java', "Java", inplace=True)
df['Your main technology / programming language'].replace('python', "Python", inplace=True)
df['Your main technology / programming language'].replace('Javascript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('javascript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Typescript', "TypeScript", inplace=True)
df['Your main technology / programming language'].replace('Android/Kotlin', "Kotlin", inplace=True)
df['Your main technology / programming language'].replace('JavaScript / typescript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Javascript / Typescript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Swift, Objective-C, iOS', "Swift", inplace=True)
df['Your main technology / programming language'].replace('Web developer', "Other", inplace=True)
df['Your main technology / programming language'].replace('DevOps', "Other", inplace=True)
df['Your main technology / programming language'].replace('none', "Other", inplace=True)
df['Your main technology / programming language'].replace('Pascal, VB.NET, C#', "Other", inplace=True)
df['Your main technology / programming language'].replace('Jira', "Other", inplace=True)
df['Your main technology / programming language'].replace('FBD', "Other", inplace=True)
df['Your main technology / programming language'].replace('NodeJS/TS', "Other", inplace=True)
df['Your main technology / programming language'].replace('Network Automation', "Other", inplace=True)
df['Your main technology / programming language'].replace('Oracle', "Other", inplace=True)
df['Your main technology / programming language'].replace('TypeScript, Kotlin', "TypeScript", inplace=True)
df['Your main technology / programming language'].replace('Clojure', "Other", inplace=True)
df['Your main technology / programming language'].replace('SAP BW / ABAP', "Other", inplace=True)
df['Your main technology / programming language'].replace('С#', "C#", inplace=True)
df['Your main technology / programming language'].replace('JavaScript/ES6', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('C++, Java, Embedded C', "C++", inplace=True)
df['Your main technology / programming language'].replace('Js', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Agile', "Other", inplace=True)
df['Your main technology / programming language'].replace('Python, statistics, SQL', "Python", inplace=True)
df['Your main technology / programming language'].replace('NLP, Python', "Python", inplace=True)
df['Your main technology / programming language'].replace('Java/Scala', "Java", inplace=True)
df['Your main technology / programming language'].replace('Computer Networking,  Network Security', "Other", inplace=True)
df['Your main technology / programming language'].replace('Java / Scala', "Java", inplace=True)
df['Your main technology / programming language'].replace('Javascript, Angular', "JavaScript", inplace=True)

df['Your main technology / programming language'].replace('-', "Other", inplace=True)
df['Your main technology / programming language'].replace('Kotlin/PHP', "Kotlin", inplace=True)
df['Your main technology / programming language'].replace('GCP', "Other", inplace=True)
df['Your main technology / programming language'].replace('Js, TypeScript, Angular', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Embedded C++', "C++", inplace=True)
df['Your main technology / programming language'].replace('.net', ".NET", inplace=True)

In [44]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,25/11/2020 18:28:01,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import cross_val_score

numeric_features = ["Age", 'Yearly brutto salary (without bonus and stocks) in EUR']
numeric_transformer = Pipeline( steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", MinMaxScaler())
    ])

categorical_features = ["]
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer( remainder='drop',
        transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ])

#Split data as normal
y = df[{"Yearly brutto salary (without bonus and stocks) in EUR", 'Yearly bonus + stocks in EUR'}]
X = df.drop(columns={"Yearly brutto salary (without bonus and stocks) in EUR", 'Yearly bonus + stocks in EUR'})

#Build pipeline
l1_model = Lasso()
l2_model = Ridge()
pipeline_steps = [('pre', preprocessor),('model', l1_model) ]
pipe = Pipeline(pipeline_steps)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
# The pipeline can be used as any other estimator
# and avoids leaking the test set into the train set

pipe.fit(X_train, y_train)
cvs = cross_val_score(pipe, X_train, y_train.ravel(), cv=5)
print('Training CrossVal Score:', cvs)
print("Average Train Score:", np.mean(cvs))
print('Testing score:', pipe.score(X_test, y_test))

SyntaxError: EOL while scanning string literal (<ipython-input-33-dd892350e22b>, line 14)

# Answers and Explainations
(Expand/modify as needed)

### Results

### Feature Selection Activities

### Hyperparameter Changes