In [84]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures

import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure your code runs with RUN ALL. It should load the data that you're given, do all the processing, and spit out results. Comment out or remove anything that you've cleaned up and don't need - e.g. if you scaled a value manually, then moved that into a pipeline, don't leave the original scaling code active when the file is run.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a markdown cell at the bottom, and put in a few notes addressing the following:
    <ul>
        <li> Accuracy of your models with/without feature selection. Include both train/test for each. Please use R2 and RMSE. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Hyperparameter Changes / Grid Search Improvements. What did you try, and why. Similar explaination to above, short. 
        <li> Overall this section should be roughly as long as this intro block - just outline what the results were, what you did to improve, and the results after. 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

In [85]:
#Load Data
pd.set_option("display.max_rows", None)
df = pd.read_csv("data/Euro_Salary.csv")
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,25/11/2020 08:47:37,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,25/11/2020 08:47:37,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df = df.drop(columns='Timestamp')
df = df.drop(columns='Other technologies/programming languages you use often') #this is redundant with because of the main tech column

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 16 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Age                                                     1226 non-null   float64
 1   Gender                                                  1243 non-null   object
 2   City                                                    1253 non-null   object
 3   Position                                                1247 non-null   object
 4   Total years of experience                               1237 non-null   object
 5   Years of experience in Germany                          1221 non-null   object
 6   Seniority level                                         1241 non-null   object
 7   Your main technology / programming language             1126 non-null   object
 8   Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
 9   Yearly bonus + stocks in EUR                            829 non-null    object
 10  Number of vacation days                                 1185 non-null   object
 11  Employment status                                       1236 non-null   object
 12  Сontract duration                                       1224 non-null   object
 13  Main language at work                                   1237 non-null   object
 14  Company size                                            1235 non-null   object
 15  Company type                                            1228 non-null   object
dtypes: float64(2), object(14)
memory usage: 156.8+ KB

<u><h2>Number of vacation days</u></h2>

In [89]:
df['Number of vacation days'].replace('unlimited', np.nan, inplace=True) #DONE
df['Number of vacation days'].replace('unlimited ', np.nan, inplace=True)
df['Number of vacation days'].replace('Unlimited ', np.nan, inplace=True)
df['Number of vacation days'].replace('Unlimited', np.nan, inplace=True)
df['Number of vacation days'].replace('(no idea)', np.nan, inplace=True)
df['Number of vacation days'].replace('24 labour days', 24, inplace=True)
df['Number of vacation days'].replace('~25', 25, inplace=True)
df['Number of vacation days'].replace('23+', 23, inplace=True)
df['Number of vacation days'].replace('30 in contract (but theoretically unlimited)', 30, inplace=True)

In [90]:

df['Number of vacation days'] = pd.to_numeric(df['Number of vacation days'], errors='coerce')
df['Number of vacation days'].unique()

array([ 30. ,  28. ,  24. ,  29. ,  27. ,   nan,  25. ,  31. ,  26. ,
        60. ,  20. ,  22. ,  38. ,  35. ,  32. ,  40. , 365. ,  36. ,
        23. ,  33. ,  21. ,  14. ,   0. ,  15. ,  16. ,   3. ,  45. ,
        12. ,  50. ,  99. ,  37.5,   1. ,   5. ,  37. ,  39. ,  34. ,
        10. ])

<u><h3>Total Years of Experience</h3></u>

In [91]:
df['Total years of experience'].unique()
df['Total years of experience'] = pd.to_numeric(df['Total years of experience'], errors='coerce')

In [92]:
df['Total years of experience'].replace('1,5', 1.5, inplace=True)  
df['Total years of experience'].replace('1 (as QA Engineer) / 11 in total', 11, inplace=True)  
df['Total years of experience'].replace('2,5', 2.5, inplace=True)  
df['Total years of experience'].replace('15, thereof 8 as CTO', 15, inplace=True) 
df['Total years of experience'].replace('6 (not as a data scientist, but as a lab scientist)', 6, inplace=True) 
df['Total years of experience'].replace('less than year', 0.5, inplace=True)
df['Total years of experience'].replace('383', 3, inplace=True)

<u><h3>Company Type</h3></u>

In [93]:
df['Company type'].value_counts()

Product                                                                     760
Startup                                                                     252
Consulting / Agency                                                         142
Bank                                                                          5
E-commerce                                                                    3
Media                                                                         3
University                                                                    2
Utilities                                                                     2
Fintech                                                                       2
Research                                                                      2
Finance                                                                       2
Corporation                                                                   2
e-commerce                                                                    1
Behörde                                                                       1
Corporation                                                                   1
corporate incubator                                                           1
Industry                                                                      1
Multinational                                                                 1
Game Company                                                                  1
IT-Outsourcing                                                                1
Transport & Logistics                                                         1
Automotive                                                                    1
Market Research                                                               1
Financial                                                                     1
consumer goods                                                                1
E-Commerce                                                                    1
FAANG                                                                         1
Bank                                                                          1
Institute                                                                     1
Insurance                                                                     1
Energy                                                                        1
freelance                                                                     1
Retail                                                                        1
Handel                                                                        1
Enterprise                                                                    1
service                                                                       1
Non-tech retail                                                               1
Systemhaus                                                                    1
Construction                                                                  1
Personal Ltd                                                                  1
Consulting and Product                                                        1
Pharma                                                                        1
Bloody enterprise                                                             1
Telecommunications                                                            1
SaaS                                                                          1
Concern                                                                       1
IT Department of established business                                         1
Automotive                                                                    1
Big commercial                                                                1
Outsorce                                                                      1
Science Institute                                                             1
Full-time position in Education, part-time position in at a data startup      1
Outsourse                                                                     1
Semiconductor                                                                 1
Biergarten                                                                    1
Ecommerce                                                                     1
Publisher                                                                     1
Education                                                                     1
Cloud                                                                         1
Publishing and Technology                                                     1
eCommerce                                                                     1
Old industry                                                                  1
Research institute                                                            1
Name: Company type, dtype: int64

In [94]:
df['Company type'].replace('Bank', 'Other', inplace=True)
df['Company type'].replace('E-commerce', 'Other', inplace=True)
df['Company type'].replace('Media', 'Other', inplace=True)
df['Company type'].replace('Fintech', 'Other', inplace=True)
df['Company type'].replace('Finance', 'Other', inplace=True)
df['Company type'].replace('Research', 'Other', inplace=True)
df['Company type'].replace('University', 'Other', inplace=True)
df['Company type'].replace('Corporation', 'Other', inplace=True)
df['Company type'].replace('Utilities', 'Other', inplace=True)
df['Company type'].replace('Retail', 'Other', inplace=True)
df['Company type'].replace('FAANG', 'Other', inplace=True)
df['Company type'].replace('SaaS', 'Other', inplace=True)
df['Company type'].replace('Concern', 'Other', inplace=True)
df['Company type'].replace('Education', 'Other', inplace=True)
df['Company type'].replace('corporate incubator', 'Other', inplace=True)
df['Company type'].replace('Automotive', 'Other', inplace=True)
df['Company type'].replace('service', 'Other', inplace=True)
df['Company type'].replace('eCommerce', 'Other', inplace=True)
df['Company type'].replace('Energy', 'Other', inplace=True)
df['Company type'].replace('Corporation', 'Other', inplace=True)
df['Company type'].replace('Construction', 'Other', inplace=True)
df['Company type'].replace('Bloody enterprise', 'Other', inplace=True)
df['Company type'].replace('Telecommunications', 'Other', inplace=True)
df['Company type'].replace('Full-time position in Education, part-time position in at a data startup', 'Other', inplace=True)
df['Company type'].replace('Industry', 'Other', inplace=True)
df['Company type'].replace('freelance', 'Other', inplace=True)
df['Company type'].replace('Ecommerce', 'Other', inplace=True)
df['Company type'].replace('Cloud', 'Other', inplace=True)
df['Company type'].replace('IT-Outsourcing', 'Other', inplace=True)                                                       
df['Company type'].replace('Game Company', 'Other', inplace=True)
df['Company type'].replace('E-Commerce', 'Other', inplace=True)
df['Company type'].replace('Consulting and Product', 'Other', inplace=True)
df['Company type'].replace('Pharma', 'Other', inplace=True)
df['Company type'].replace('Semiconductor', 'Other', inplace=True)
df['Company type'].replace('e-commerce', 'Other', inplace=True)
df['Company type'].replace('Transport & Logistics', 'Other', inplace=True)
df['Company type'].replace('Big commercial', 'Other', inplace=True)
df['Company type'].replace('Institute', 'Other', inplace=True)
df['Company type'].replace('Non-tech retail', 'Other', inplace=True)
df['Company type'].replace('Bank', 'Other', inplace=True)
df['Company type'].replace('IT Department of established business', 'Other', inplace=True)
df['Company type'].replace('Automotive', 'Other', inplace=True)
df['Company type'].replace('Personal Ltd', 'Other', inplace=True)
df['Company type'].replace('Biergarten', 'Other', inplace=True)
df['Company type'].replace('Publisher', 'Other', inplace=True)
df['Company type'].replace('Research institute', 'Other', inplace=True)
df['Company type'].replace('Science Institute', 'Other', inplace=True)
df['Company type'].replace('Systemhaus', 'Other', inplace=True)
df['Company type'].replace('Publishing and Technology', 'Other', inplace=True)
df['Company type'].replace('Old industry', 'Other', inplace=True)
df['Company type'].replace('Handel', 'Other', inplace=True)
df['Company type'].replace('Outsorce', 'Other', inplace=True)
df['Company type'].replace('Multinational', 'Other', inplace=True)
df['Company type'].replace('Financial', 'Other', inplace=True)
df['Company type'].replace('consumer goods', 'Other', inplace=True)
df['Company type'].replace('Enterprise', 'Other', inplace=True)                                                             
df['Company type'].replace('Behörde', 'Other', inplace=True)
df['Company type'].replace('Outsourse', 'Other', inplace=True)
df['Company type'].replace('Market Research', 'Other', inplace=True)
df['Company type'].replace('Insurance', 'Other', inplace=True)

<u><h3>Company size</h3></u>

In [95]:
df['Company size'].value_counts()

1000+       448
101-1000    405
11-50       174
51-100      147
up to 10     61
Name: Company size, dtype: int64

<u><h3>Main language at work </h3></u>

In [96]:
df['Main language at work'].value_counts()

English               1020
German                 186
Russian                 12
Spanish                  3
Italian                  3
Polish                   2
Czech                    2
Русский                  2
English and German       2
50/50                    1
both                     1
Deuglisch                1
French                   1
Russian, English         1
Name: Main language at work, dtype: int64

In [97]:
df['Main language at work'].replace('Italian', 'Other', inplace=True)
df['Main language at work'].replace('Spanish', 'Other', inplace=True)
df['Main language at work'].replace('Русский', 'Other', inplace=True)
df['Main language at work'].replace('Polish', 'Other', inplace=True)
df['Main language at work'].replace('Czech', 'Other', inplace=True)
df['Main language at work'].replace('English and German', 'English', inplace=True)
df['Main language at work'].replace('French', 'Other', inplace=True)
df['Main language at work'].replace('50/50', 'English', inplace=True)
df['Main language at work'].replace('Deuglisch', 'Other', inplace=True)
df['Main language at work'].replace('both', 'English', inplace=True)
df['Main language at work'].replace('Russian, English', 'English', inplace=True)

<u><h3>Сontract duration</u></h3>

In [98]:
df['Сontract duration'].replace('0', 'Unlimited contract', inplace=True)
df['Сontract duration'].value_counts()

Unlimited contract    1160
Temporary contract      64
Name: Сontract duration, dtype: int64

<u><h3>Employment Status</h3></u>

In [99]:
df['Employment status'].value_counts()

Full-time employee                                                                 1190
Self-employed (freelancer)                                                           28
Part-time employee                                                                    8
Founder                                                                               3
Working Student                                                                       1
Full-time position, part-time position, & self-employed (freelancing, tutoring)       1
Intern                                                                                1
working student                                                                       1
full-time, but 32 hours per week (it was my request, I'm a student)                   1
Company Director                                                                      1
Werkstudent                                                                           1
Name: Employment status, dtype: int64

In [100]:
df['Employment status'].replace('Founder', 'Full-time employee')
df['Employment status'].replace('Company Director', 'Full-time employee')

0                                      Full-time employee
1                                      Full-time employee
2                              Self-employed (freelancer)
3                                      Full-time employee
4                                      Full-time employee
5                                      Full-time employee
6                                      Full-time employee
7                                      Full-time employee
8                                      Full-time employee
9                                      Full-time employee
10                                     Full-time employee
11                             Self-employed (freelancer)
12                                     Full-time employee
13                                     Full-time employee
14                                     Full-time employee
15                                     Full-time employee
16                                     Full-time employee
17                                     Full-time employee
18                                     Full-time employee
19                                     Full-time employee
20                                     Full-time employee
21                                     Full-time employee
22                                     Full-time employee
23                                     Full-time employee
24                                     Full-time employee
25                                     Full-time employee
26                                     Full-time employee
27                                     Full-time employee
28                                     Full-time employee
29                                     Full-time employee
30                                     Full-time employee
31                                     Full-time employee
32                                     Full-time employee
33                                     Full-time employee
34                                     Full-time employee
35                                     Full-time employee
36                                     Full-time employee
37                                     Full-time employee
38                                     Full-time employee
39                                     Full-time employee
40                                     Full-time employee
41                                     Full-time employee
42                             Self-employed (freelancer)
43                                     Full-time employee
44                                     Full-time employee
45                                     Full-time employee
46                                     Full-time employee
47                                     Full-time employee
48                                     Full-time employee
49                                     Full-time employee
50                                     Full-time employee
51                                     Full-time employee
52                                     Full-time employee
53                                     Full-time employee
54                                     Full-time employee
55                                     Full-time employee
56                                     Full-time employee
57                                     Full-time employee
58                                     Full-time employee
59                                     Full-time employee
60                                     Full-time employee
61                                     Full-time employee
62                                     Full-time employee
63                                     Full-time employee
64                                     Full-time employee
65                                     Full-time employee
66                                     Full-time employee
67                                     Full-time employee
68                                     Full-time employee
69                                     Full-time employee
70                                     Full-time employee
71                                     Full-time employee
72                                     Full-time employee
73                                     Full-time employee
74                                     Full-time employee
75                                     Full-time employee
76                                     Full-time employee
77                                     Full-time employee
78                                     Full-time employee
79                                     Full-time employee
80                                     Full-time employee
81                                     Full-time employee
82                                     Full-time employee
83                                     Full-time employee
84                                     Full-time employee
85                                     Full-time employee
86                                     Full-time employee
87                                     Full-time employee
88                                     Full-time employee
89                                     Full-time employee
90                                     Full-time employee
91                                     Full-time employee
92                                     Full-time employee
93                                     Full-time employee
94                                     Full-time employee
95                                     Full-time employee
96                                     Full-time employee
97                                     Full-time employee
98                                     Full-time employee
99                                     Full-time employee
100                                    Full-time employee
101                                    Full-time employee
102                                    Full-time employee
103                                    Full-time employee
104                                    Full-time employee
105                                    Full-time employee
106                                    Full-time employee
107                                    Full-time employee
108                                    Full-time employee
109                                    Full-time employee
110                                    Full-time employee
111                                    Full-time employee
112                                    Full-time employee
113                                    Full-time employee
114                                    Full-time employee
115                                    Full-time employee
116                                    Full-time employee
117                                    Full-time employee
118                                    Full-time employee
119                                    Full-time employee
120                                    Full-time employee
121                                    Full-time employee
122                                    Full-time employee
123                                    Full-time employee
124                                    Full-time employee
125                                    Full-time employee
126                                    Full-time employee
127                                    Full-time employee
128                                    Full-time employee
129                                    Full-time employee
130                                    Full-time employee
131                                    Full-time employee
132                                    Full-time employee
133                                    Full-time employee
134                                    Full-time employee
135                                    Full-time employee
136                                    Full-time employee
137                                    Full-time employee
138                                    Full-time employee
139                                    Full-time employee
140                                    Full-time employee
141                                    Full-time employee
142                                    Full-time employee
143                                    Full-time employee
144                                    Full-time employee
145                                    Full-time employee
146                                    Full-time employee
147                                    Full-time employee
148                                    Full-time employee
149                                    Full-time employee
150                                    Full-time employee
151                                    Full-time employee
152                                    Full-time employee
153                                    Full-time employee
154                                    Full-time employee
155                                    Full-time employee
156                                    Full-time employee
157                                    Full-time employee
158                                    Full-time employee
159                                    Full-time employee
160                                    Full-time employee
161                                    Full-time employee
162                                    Full-time employee
163                                    Full-time employee
164                                    Full-time employee
165                                    Full-time employee
166                                    Full-time employee
167                                                   NaN
168                                    Full-time employee
169                                    Full-time employee
170                                    Full-time employee
171                                    Full-time employee
172                                    Full-time employee
173                                    Full-time employee
174                                    Full-time employee
175                                    Full-time employee
176                                    Full-time employee
177                                    Full-time employee
178                                    Full-time employee
179                                    Full-time employee
180                                    Full-time employee
181                                    Full-time employee
182                                    Full-time employee
183                                    Full-time employee
184                                    Full-time employee
185                                    Full-time employee
186                                    Full-time employee
187                                    Full-time employee
188                                    Full-time employee
189                                    Full-time employee
190                                    Full-time employee
191                                    Full-time employee
192                                    Full-time employee
193                            Self-employed (freelancer)
194                                    Full-time employee
195                                    Full-time employee
196                                    Full-time employee
197                                    Full-time employee
198                                    Full-time employee
199                                    Full-time employee
200                                    Full-time employee
201                                    Full-time employee
202                                    Full-time employee
203                                    Full-time employee
204                                    Full-time employee
205                                    Full-time employee
206                                    Full-time employee
207                                    Full-time employee
208                                    Full-time employee
209                                    Full-time employee
210                                    Full-time employee
211                                    Full-time employee
212                                    Full-time employee
213                                    Full-time employee
214                                    Full-time employee
215                                    Full-time employee
216                                    Full-time employee
217                                    Full-time employee
218                                    Full-time employee
219                                    Full-time employee
220                                    Full-time employee
221                                    Full-time employee
222                                    Full-time employee
223                                    Full-time employee
224                                    Full-time employee
225                                    Full-time employee
226                                    Full-time employee
227                                    Full-time employee
228                                    Full-time employee
229                                    Full-time employee
230                                    Full-time employee
231                                    Full-time employee
232                                    Full-time employee
233                                    Full-time employee
234                                    Full-time employee
235                                    Full-time employee
236                                    Full-time employee
237                                    Full-time employee
238                                    Full-time employee
239                                    Full-time employee
240                                    Full-time employee
241                                    Full-time employee
242                                    Full-time employee
243                                    Full-time employee
244                                    Full-time employee
245                                    Full-time employee
246                                    Full-time employee
247                                    Full-time employee
248                                    Full-time employee
249                                    Full-time employee
250                                    Full-time employee
251                                    Full-time employee
252                                    Full-time employee
253                                    Full-time employee
254                                    Full-time employee
255                            Self-employed (freelancer)
256                                    Full-time employee
257                                    Full-time employee
258                                    Full-time employee
259                                    Full-time employee
260                                    Full-time employee
261                                               Founder
262                                    Full-time employee
263                                    Full-time employee
264                                    Full-time employee
265                                    Full-time employee
266                                    Full-time employee
267                                    Full-time employee
268                                    Full-time employee
269                                    Full-time employee
270                                    Full-time employee
271                                    Full-time employee
272                                    Full-time employee
273                                    Full-time employee
274                                    Full-time employee
275                                    Full-time employee
276                                    Full-time employee
277                                    Full-time employee
278                                    Full-time employee
279                                    Full-time employee
280                            Self-employed (freelancer)
281                                    Full-time employee
282                                    Full-time employee
283                                    Full-time employee
284                                    Full-time employee
285                                    Full-time employee
286                                    Full-time employee
287                                    Full-time employee
288                                    Full-time employee
289                                    Full-time employee
290                                    Full-time employee
291                                    Full-time employee
292                                    Full-time employee
293                                    Full-time employee
294                                    Full-time employee
295                                    Full-time employee
296                                    Full-time employee
297                                    Full-time employee
298                                    Full-time employee
299                                    Full-time employee
300                                    Full-time employee
301                                    Full-time employee
302                                    Full-time employee
303                                    Full-time employee
304                                    Full-time employee
305                                    Full-time employee
306                                    Full-time employee
307                                    Full-time employee
308                                    Full-time employee
309                                    Full-time employee
310                                    Full-time employee
311                                    Full-time employee
312                                    Full-time employee
313                                    Full-time employee
314                                    Full-time employee
315                                    Full-time employee
316                                    Full-time employee
317                                    Full-time employee
318                                    Full-time employee
319                                    Full-time employee
320                                    Full-time employee
321                                    Full-time employee
322                                    Full-time employee
323                                    Full-time employee
324                                    Full-time employee
325                                    Full-time employee
326                                    Full-time employee
327                                    Full-time employee
328                                    Full-time employee
329                                    Full-time employee
330                                    Full-time employee
331                                    Full-time employee
332                                    Full-time employee
333                                    Full-time employee
334                                    Full-time employee
335                                    Full-time employee
336                                    Full-time employee
337                                    Full-time employee
338                                    Full-time employee
339                            Self-employed (freelancer)
340                                    Full-time employee
341                                    Full-time employee
342                                    Full-time employee
343                                    Full-time employee

<u><h3>Yearly bonus + stocks in EUR</u></h3>

In [101]:
df['Yearly bonus + stocks in EUR'] = pd.to_numeric(df['Yearly bonus + stocks in EUR'], errors='coerce')
df['Yearly bonus + stocks in EUR'].value_counts()

0.000000e+00    227
5.000000e+03     56
1.000000e+04     45
2.000000e+03     36
6.000000e+03     26
1.000000e+03     23
3.000000e+03     23
2.000000e+04     21
4.000000e+03     18
1.500000e+04     16
7.000000e+03     15
8.000000e+03     13
7.500000e+04     11
1.200000e+04     11
7.000000e+04     11
3.000000e+04      8
1.010000e+02      8
4.000000e+04      7
1.000000e+05      7
1.500000e+03      7
5.000000e+04      6
8.000000e+04      6
2.500000e+04      6
6.000000e+04      6
5.500000e+04      5
2.000000e+05      5
4.500000e+04      5
5.000000e+02      5
6.500000e+04      5
7.500000e+03      5
1.200000e+05      5
1.100000e+04      4
1.800000e+04      4
9.000000e+04      4
3.500000e+04      4
7.700000e+04      4
9.000000e+03      4
9.500000e+04      4
6.200000e+04      3
1.700000e+04      3
1.500000e+05      3
8.500000e+04      3
4.500000e+03      3
7.300000e+04      3
2.500000e+03      2
1.600000e+04      2
1.400000e+04      2
9.900000e+04      2
7.200000e+04      2
6.500000e+03      2
1.590000e+04      2
1.300000e+04      2
5.600000e+04      2
8.000000e+02      2
7.800000e+04      2
7.400000e+04      1
2.200000e+04      1
8.600000e+04      1
3.150000e+04      1
1.026000e+05      1
2.800000e+03      1
7.050000e+04      1
2.400000e+03      1
9.600000e+04      1
8.120000e+04      1
1.400000e+05      1
3.600000e+04      1
1.350000e+04      1
6.350000e+04      1
8.250000e+04      1
4.095000e+04      1
6.700000e+04      1
7.740000e+04      1
1.632000e+04      1
7.100000e+04      1
6.300000e+04      1
5.350000e+04      1
6.710000e+03      1
7.750000e+03      1
4.300000e+04      1
1.250000e+05      1
6.644700e+04      1
2.300000e+04      1
2.250000e+04      1
3.250000e+03      1
2.100000e+04      1
6.900000e+03      1
1.200000e+01      1
2.880000e+04      1
8.725000e+04      1
3.520000e+03      1
1.600000e+03      1
3.400000e+03      1
2.500000e+01      1
4.550000e+04      1
1.250000e+04      1
1.060000e+05      1
5.400000e+03      1
3.800000e+03      1
2.024000e+04      1
1.150000e+06      1
9.450000e+03      1
3.850000e+04      1
1.200000e+03      1
3.500000e+03      1
5.600000e+03      1
5.000000e+09      1
3.200000e+04      1
1.100000e+05      1
7.300000e+03      1
1.221300e+02      1
1.250000e+03      1
4.250000e+03      1
5.800000e+03      1
4.400000e+03      1
7.200000e+03      1
8.040000e+04      1
1.780000e+04      1
4.560000e+04      1
8.500000e+03      1
1.030000e+04      1
8.900000e+04      1
8.400000e+04      1
1.100000e+03      1
6.650000e+04      1
1.450000e+04      1
1.920000e+04      1
7.100000e+03      1
5.500000e+03      1
4.300000e+03      1
4.500000e+05      1
3.520000e+04      1
4.350000e+04      1
3.600000e+03      1
2.600000e+04      1
9.200000e+04      1
1.190000e+04      1
4.000000e+02      1
4.750000e+04      1
5.900000e+04      1
1.215000e+04      1
7.000000e+02      1
5.040000e+04      1
1.050000e+05      1
2.070000e+04      1
3.375000e+03      1
9.700000e+04      1
6.084732e+04      1
3.796800e+04      1
5.400000e+04      1
1.700000e+05      1
4.600000e+04      1
5.800000e+04      1
4.700000e+03      1
1.120000e+05      1
1.070000e+05      1
8.800000e+04      1
6.300000e+03      1
9.400000e+03      1
6.390900e+04      1
2.800000e+04      1
8.200000e+04      1
Name: Yearly bonus + stocks in EUR, dtype: int64

<u><h3>Your main technology / programming language</h3></u>

In [102]:
df['Your main technology / programming language'].value_counts()

Java                                                            184
Python                                                          164
PHP                                                              56
C++                                                              38
JavaScript                                                       34
Javascript                                                       31
C#                                                               30
python                                                           26
Swift                                                            24
Scala                                                            24
Go                                                               23
Kotlin                                                           22
Python                                                           21
Ruby                                                             19
TypeScript                                                       14
SQL                                                              14
.NET                                                             13
JS                                                               12
C                                                                10
iOS                                                              10
java                                                              9
R                                                                 9
Android                                                           8
javascript                                                        8
Typescript                                                        8
php                                                               8
Kubernetes                                                        7
.net                                                              7
Javascript / Typescript                                           6
JavaScript                                                        6
Elixir                                                            5
Php                                                               5
ABAP                                                              5
QA                                                                4
AWS                                                               4
Ruby on Rails                                                     3
Embedded                                                          3
React                                                             3
Cloud                                                             3
Golang                                                            3
.Net                                                              3
c++                                                               3
Node.js                                                           3
Java                                                              2
Spark                                                             2
NodeJS                                                            2
C, C++                                                            2
Figma                                                             2
Python, SQL                                                       2
Sql                                                               2
SAP                                                               2
go                                                                2
JavaScript/Typescript                                             2
Bash                                                              2
Frontend                                                          2
kotlin                                                            2
C/C++                                                             2
js                                                                2
JavaScript / TypeScript                                           2
C#, .net core                                                     2
Java/Kotlin                                                       2
yaml                                                              2
PHP                                                               2
Angular                                                           2
Jira                                                              1
Javascript                                                        1
Pascal, VB.NET, C#                                                1
Python + SQL                                                      1
PHP/MySQL                                                         1
JS, Java                                                          1
JS, WDIO                                                          1
Kubernetes, Terraform, GCP                                        1
Java Backend                                                      1
DevOps                                                            1
Python/NLP                                                        1
TS                                                                1
Clojure                                                           1
-                                                                 1
SAP BW / ABAP                                                     1
Web developer                                                     1
Js                                                                1
SAS,SQL,Python                                                    1
Magento                                                           1
Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts      1
Network                                                           1
Pegasystems platform                                              1
none                                                              1
Python, Whole Apache Data Science Stack, AWS                      1
Apache Spark                                                      1
SAP / ABAP                                                        1
React.js / TypeScript                                             1
Cobol                                                             1
Python, Pytorch                                                   1
GCP                                                               1
JavaScript, TypeScript                                            1
Azure, SAP                                                        1
FBD                                                               1
Perl                                                              1
AWS, GCP, Python,K8s                                              1
Power BI                                                          1
Kotlin/PHP                                                        1
c/c++                                                             1
Nodejs                                                            1
React/Typescript                                                  1
Sql                                                               1
Linux Kernel                                                      1
Spark, Pytorch                                                    1
Java, angular, Aws                                                1
ML                                                                1
python                                                            1
Terraform                                                         1
Golang                                                            1
NodsJs                                                            1
Test Management                                                   1
Node                                                              1
Java, Kotlin                                                      1
typescript                                                        1
Typescript, Web apps                                              1
Management                                                        1
Business Development Manager Operation                            1
Network Automation                                                1
Computer Networking,  Network Security                            1
PowerShell                                                        1
Java/Scala                                                        1
React                                                             1
android                                                           1
.net, c++, spss, embeddded                                        1
Python, cloud computing                                           1
Embedded C++                                                      1
Charles                                                           1
Blockchain                                                        1
swift                                                             1
Angular, TypeScript                                               1
Azure                                                             1
PL/SQL                                                            1
Qlik                                                              1
php, js, python, docker                                           1
python, scala                                                     1
Kuberenetes, Openstack                                            1
Erlang                                                            1
Kubrrnetes                                                        1
Swift, Objective-C, iOS                                           1
Autonomous Driving                                                1
k8s                                                               1
Ml/Python                                                         1
NodeJS/TS                                                         1
AI                                                                1
Javascript, Angular                                               1
VHDL                                                              1
Java, JavaScript                                                  1
Go, PHP, SQL                                                      1
Grails, Groovy                                                    1
consumer analysis                                                 1
VB, RPA, Python                                                   1
c#                                                                1
Salesforce                                                        1
C++, Java, Embedded C                                             1
Scala / Python                                                    1
Swift/Kotlin                                                      1
Scala, Apache Spark                                               1
Sql, BQ, tableau, gtm, ga                                         1
NodeJS, Typescript, AWS                                           1
Oracle                                                            1
Java, JS                                                          1
C, Matlab                                                         1
JavScript                                                         1
Go/Python                                                         1
Angular, Typescript                                               1
Javascript/Typescript                                             1
Python / JavaScript (React)                                       1
Terraform, Kubernetes, AWS, GCP, Ansible, Puppet                  1
С#                                                                1
Haskell                                                           1
Js, TypeScript, Angular                                           1
NLP, Python                                                       1
Apotheker                                                         1
Kotlin, Java                                                      1
Agile                                                             1
PM tools                                                          1
TypeScript/Angular                                                1
JavaScript / typescript                                           1
Qml                                                               1
julia                                                             1
ruby on rails                                                     1
Web                                                               1
Js, reactJS                                                       1
PS, Sketch, React, CSS3                                           1
Objective-C                                                       1
Linux                                                             1
SAP ABAP                                                          1
Qlik BI Tool, SQL                                                 1
C++/C#                                                            1
BI, DWH, ETL/ELT                                                  1
Swift, Objective-C                                                1
Frontend: react, node.js                                          1
Python (Django)                                                   1
Java / Scala                                                      1
Python, statistics, SQL                                           1
Django, Flask, Plotly Dash                                        1
Java & Distributed Systems Stuff                                  1
UML                                                               1
Tricentis Tosca                                                   1
Angular, React                                                    1
Офмф                                                              1
Typescript / Angular                                              1
golang                                                            1
React JS                                                          1
Java, terraform                                                   1
Sketch, Figma                                                     1
Android/Kotlin                                                    1
C#/.NET                                                           1
TypeScript, Kotlin                                                1
Java, .Net                                                        1
scala                                                             1
SWIFT                                                             1
C++, C#                                                           1
Java/Groovy                                                       1
Atlassian JIRA                                                    1
Hardware                                                          1
Google Cloud Platform                                             1
Java, Javascript                                                  1
Typescript                                                        1
Terraform                                                         1
jenkins bash                                                      1
java/scala/go/clouds/devops                                       1
JavaScript/TypeScript                                             1
Scala, React.js                                                   1
nothing                                                           1
TypeScript, JavaScript                                            1
several                                                           1
spark                                                             1
Kotlin                                                            1
T-SQL                                                             1
Swift, objective-c                                                1
React / JavaScript                                                1
pythin                                                            1
Aws Hadoop Postgre Typescript                                     1
TypeScript, React                                                 1
DWH                                                               1
C++/c                                                             1
.Net, Angular                                                     1
Java/C++                                                          1
--                                                                1
Python/SQL                                                        1
sql                                                               1
Spring                                                            1
Java & PHP                                                        1
SRE                                                               1
C# .NET                                                           1
Python, database technologies                                     1
networking, linux, automation, cloud                              1
DC Management                                                     1
JAVA                                                              1
embedded                                                          1
Pyrhon                                                            1
JavaScript/ES6                                                    1
Name: Your main technology / programming language, dtype: int64

In [103]:
df['Your main technology / programming language']. replace('JavaScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Typescript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('ABAP', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Elixir', 'Other', inplace=True)
df['Your main technology / programming language']. replace('QA', 'Other', inplace=True)
df['Your main technology / programming language']. replace('AWS', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Cloud', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Node.js', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Embedded', 'Other', inplace=True)
df['Your main technology / programming language']. replace('.Net', '.NET', inplace=True)
df['Your main technology / programming language']. replace('React', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Ruby on Rails', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Golang', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Frontend', 'Other', inplace=True)
df['Your main technology / programming language']. replace('yaml', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Angular', 'Other', inplace=True)
df['Your main technology / programming language']. replace('js', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Spark', 'Other', inplace=True)
df['Your main technology / programming language']. replace('PHP', 'PHP', inplace=True)
df['Your main technology / programming language']. replace('NodeJS,' 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Bash', 'Other', inplace=True)
df['Your main technology / programming language']. replace('SAP', 'Other', inplace=True)
df['Your main technology / programming language']. replace('C, C++', 'C++', inplace=True)
df['Your main technology / programming language']. replace('Python, SQL', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Java/Kotlin', 'Java', inplace=True)
df['Your main technology / programming language']. replace('C#, .net core', 'C#', inplace=True)
df['Your main technology / programming language']. replace('C/C++', 'C', inplace=True)
df['Your main technology / programming language']. replace('Sql', 'Other', inplace=True)
df['Your main technology / programming language']. replace('JavaScript/Typescript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Java', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Figma', 'Other', inplace=True)
df['Your main technology / programming language']. replace('JavaScript / TypeScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('kotlin', 'Kotlin', inplace=True)
df['Your main technology / programming language']. replace('Javascript/Typescript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Scala / Python', 'Python', inplace=True)
df['Your main technology / programming language']. replace('android', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Objective-C', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Angular, Typescript', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java, JS', 'Java', inplace=True)
df['Your main technology / programming language']. replace('java/scala/go/clouds/devops', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Kotlin, Java', 'Kotlin', inplace=True)
df['Your main technology / programming language']. replace('Angular, React', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Aws Hadoop Postgre Typescript', 'Other', inplace=True)
df['Your main technology / programming language']. replace('python, scala', 'Python', inplace=True)                                    
df['Your main technology / programming language']. replace('React / JavaScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Swift, Objective-C', 'Swft', inplace=True)
df['Your main technology / programming language']. replace('Java/C++', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Kuberenetes, Openstack', 'Kubernetes', inplace=True)
df['Your main technology / programming language']. replace('Network', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Terraform', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Atlassian JIRA', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Ml/Python', 'Python', inplace=True)
df['Your main technology / programming language']. replace('JavaScript, TypeScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Power BI', 'Other', inplace=True)
df['Your main technology / programming language']. replace('.net, c++, spss, embeddded', '.NET', inplace=True)
df['Your main technology / programming language']. replace('typescript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('PowerShell', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Kubrrnetes', 'Kubernetes', inplace=True)
df['Your main technology / programming language']. replace('pythin', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Qml', 'Other', inplace=True)
df['Your main technology / programming language']. replace('SAP / ABAP', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Hardware', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Node', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Java/Groovy', 'Java', inplace=True)
df['Your main technology / programming language']. replace('python', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Golang', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Qlik', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Erlang', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Scala, Apache Spark', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Swift, objective-c', 'Swift', inplace=True)
df['Your main technology / programming language']. replace('Test Management', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Spark, Pytorch', 'Other', inplace=True)
df['Your main technology / programming language']. replace('SAS,SQL,Python', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java, JavaScript', 'Java', inplace=True)
df['Your main technology / programming language']. replace('golang', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Google Cloud Platform', 'Other', inplace=True)
df['Your main technology / programming language']. replace('julia', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java, terraform', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Nodejs', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('AI', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Python, Whole Apache Data Science Stack, AWS', 'Python', inplace=True)
df['Your main technology / programming language']. replace('VB, RPA, Python', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Офмф', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Sql', 'Other', inplace=True)
df['Your main technology / programming language']. replace('JS, Java', 'Java', inplace=True)
df['Your main technology / programming language']. replace('C, Matlab', 'C', inplace=True)
df['Your main technology / programming language']. replace('Business Development Manager Operation', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Azure, SAP', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Cobol', 'Other', inplace=True)
df['Your main technology / programming language']. replace('PM tools', 'Other', inplace=True)
df['Your main technology / programming language']. replace('AWS, GCP, Python,K8s', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Javascript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('React JS', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('ML', 'Other', inplace=True)
df['Your main technology / programming language']. replace('TS', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('T-SQL', 'Other', inplace=True)
df['Your main technology / programming language']. replace('spark', 'Other', inplace=True)
df['Your main technology / programming language']. replace('c/c++', 'C', inplace=True)
df['Your main technology / programming language']. replace('Angular, TypeScript', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Python, cloud computing', 'Python', inplace=True)
df['Your main technology / programming language']. replace('k8s', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Python (Django)', 'Python', inplace=True)
df['Your main technology / programming language']. replace('TypeScript, JavaScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('PHP/MySQL', 'PHP', inplace=True)
df['Your main technology / programming language']. replace('swift', 'Swift', inplace=True)
df['Your main technology / programming language']. replace('JavaScript/TypeScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Computer Networking,  Network Security', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Terraform, Kubernetes, AWS, GCP, Ansible, Puppet', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Apache Spark', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Terraform', 'Other', inplace=True)
df['Your main technology / programming language']. replace('NodsJs', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Sketch, Figma', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Go/Python', 'Go', inplace=True)
df['Your main technology / programming language']. replace('JavScript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('embedded', 'Other', inplace=True)
df['Your main technology / programming language']. replace('React', 'Other', inplace=True)
df['Your main technology / programming language']. replace('PL/SQL', 'Other', inplace=True)
df['Your main technology / programming language']. replace('c#', 'C#', inplace=True)
df['Your main technology / programming language']. replace('C# .NET', 'C#', inplace=True)
df['Your main technology / programming language']. replace('Frontend: react, node.js', 'Other', inplace=True)
df['Your main technology / programming language']. replace('several', 'Other', inplace=True)
df['Your main technology / programming language']. replace('networking, linux, automation, cloud', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Web', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Python/SQL', 'Python', inplace=True)
df['Your main technology / programming language']. replace('ruby on rails', 'Ruby', inplace=True)
df['Your main technology / programming language']. replace('JS, WDIO', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Typescript, Web apps', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Java, .Net', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Kotlin', 'Kotlin', inplace=True)
df['Your main technology / programming language']. replace('C++/C#', 'C++', inplace=True)
df['Your main technology / programming language']. replace('Salesforce', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Typescript', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('C++, C#', 'C++', inplace=True)
df['Your main technology / programming language']. replace('Python + SQL', 'Python', inplace=True)
df['Your main technology / programming language']. replace('.Net, Angular', '.NET', inplace=True)
df['Your main technology / programming language']. replace('Perl', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Typescript / Angular', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Apotheker', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java & PHP', 'Java', inplace=True)
df['Your main technology / programming language']. replace('php, js, python, docker', 'PHP', inplace=True)
df['Your main technology / programming language']. replace('Management', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Python/NLP', 'Python', inplace=True)
df['Your main technology / programming language']. replace('TypeScript/Angular', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Python, database technologies', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Python / JavaScript (React)', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Linux Kernel', 'Other', inplace=True)
df['Your main technology / programming language']. replace('SAP ABAP', 'Other', inplace=True)
df['Your main technology / programming language']. replace('BI, DWH, ETL/ELT', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Haskell', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Blockchain', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Scala, React.js', 'Other', inplace=True)
df['Your main technology / programming language']. replace('sql', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Js, reactJS', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('PS, Sketch, React, CSS3', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Linux', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Magento', 'Other', inplace=True)
df['Your main technology / programming language']. replace('React.js / TypeScript', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Go, PHP, SQL', 'Go', inplace=True)
df['Your main technology / programming language']. replace('jenkins bash', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Grails, Groovy', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Pegasystems platform', 'Other', inplace=True)
df['Your main technology / programming language']. replace('SWIFT', 'Swift', inplace=True)
df['Your main technology / programming language']. replace('TypeScript, React', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Sql, BQ, tableau, gtm, ga', 'Other', inplace=True)
df['Your main technology / programming language']. replace('UML', 'Other', inplace=True)
df['Your main technology / programming language']. replace('DC Management', 'Other', inplace=True)
df['Your main technology / programming language']. replace('VHDL', 'Other', inplace=True)
df['Your main technology / programming language']. replace('NodeJS, Typescript, AWS', 'JavaScript', inplace=True)
df['Your main technology / programming language']. replace('Django, Flask, Plotly Dash', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Swift/Kotlin', 'Swift', inplace=True)
df['Your main technology / programming language']. replace('Python, Pytorch', 'Other', inplace=True)
df['Your main technology / programming language']. replace('scala', 'Other', inplace=True)
df['Your main technology / programming language']. replace('DWH', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java, Javascript', 'Java', inplace=True)
df['Your main technology / programming language']. replace('consumer analysis', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java Backend', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Java, Kotlin', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Java & Distributed Systems Stuff', 'Java', inplace=True)
df['Your main technology / programming language']. replace('nothing', 'Other', inplace=True)
df['Your main technology / programming language']. replace('JAVA', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Pyrhon', 'Python', inplace=True)
df['Your main technology / programming language']. replace('Tricentis Tosca', 'Other', inplace=True)
df['Your main technology / programming language']. replace('C#/.NET', 'C#', inplace=True)
df['Your main technology / programming language']. replace('Autonomous Driving', 'Other', inplace=True)
df['Your main technology / programming language']. replace('C++/c', 'C++', inplace=True)
df['Your main technology / programming language']. replace('Charles', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Qlik BI Tool, SQL', 'Other', inplace=True)
df['Your main technology / programming language']. replace('Java, angular, Aws', 'Java', inplace=True)
df['Your main technology / programming language']. replace('Azure', 'Other', inplace=True)
df['Your main technology / programming language']. replace('React/Typescript', 'Other', inplace=True)

In [104]:
df['Your main technology / programming language'].replace('Php', "PHP", inplace=True)
df['Your main technology / programming language'].replace('php', "PHP", inplace=True)
df['Your main technology / programming language'].replace('java', "Java", inplace=True)
df['Your main technology / programming language'].replace('python', "Python", inplace=True)
df['Your main technology / programming language'].replace('Javascript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('javascript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Typescript', "TypeScript", inplace=True)
df['Your main technology / programming language'].replace('Android/Kotlin', "Kotlin", inplace=True)
df['Your main technology / programming language'].replace('JavaScript / typescript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Javascript / Typescript', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Swift, Objective-C, iOS', "Swift", inplace=True)
df['Your main technology / programming language'].replace('Web developer', "Other", inplace=True)
df['Your main technology / programming language'].replace('DevOps', "Other", inplace=True)
df['Your main technology / programming language'].replace('none', "Other", inplace=True)
df['Your main technology / programming language'].replace('Pascal, VB.NET, C#', "Other", inplace=True)
df['Your main technology / programming language'].replace('Jira', "Other", inplace=True)
df['Your main technology / programming language'].replace('FBD', "Other", inplace=True)
df['Your main technology / programming language'].replace('NodeJS/TS', "Other", inplace=True)
df['Your main technology / programming language'].replace('Network Automation', "Other", inplace=True)
df['Your main technology / programming language'].replace('Oracle', "Other", inplace=True)
df['Your main technology / programming language'].replace('TypeScript, Kotlin', "TypeScript", inplace=True)
df['Your main technology / programming language'].replace('Clojure', "Other", inplace=True)
df['Your main technology / programming language'].replace('SAP BW / ABAP', "Other", inplace=True)
df['Your main technology / programming language'].replace('С#', "C#", inplace=True)
df['Your main technology / programming language'].replace('JavaScript/ES6', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('C++, Java, Embedded C', "C++", inplace=True)
df['Your main technology / programming language'].replace('Js', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Agile', "Other", inplace=True)
df['Your main technology / programming language'].replace('Python, statistics, SQL', "Python", inplace=True)
df['Your main technology / programming language'].replace('NLP, Python', "Python", inplace=True)
df['Your main technology / programming language'].replace('Java/Scala', "Java", inplace=True)
df['Your main technology / programming language'].replace('Computer Networking,  Network Security', "Other", inplace=True)
df['Your main technology / programming language'].replace('Java / Scala', "Java", inplace=True)
df['Your main technology / programming language'].replace('Javascript, Angular', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('-', "Other", inplace=True)
df['Your main technology / programming language'].replace('Kotlin/PHP', "Kotlin", inplace=True)
df['Your main technology / programming language'].replace('GCP', "Other", inplace=True)
df['Your main technology / programming language'].replace('Js, TypeScript, Angular', "JavaScript", inplace=True)
df['Your main technology / programming language'].replace('Embedded C++', "C++", inplace=True)
df['Your main technology / programming language'].replace('.net', ".NET", inplace=True)
df['Your main technology / programming language'].replace('c++', "C++", inplace=True)
df['Your main technology / programming language'].replace('JS', "JavaScript", inplace=True)

df['Your main technology / programming language'].replace('go', "Go", inplace=True)
df['Your main technology / programming language'].replace('SRE', "Other", inplace=True)
df['Your main technology / programming language'].replace('Kubernetes, Terraform, GCP', "Kubernetes", inplace=True)
df['Your main technology / programming language'].replace('Spring', "Other", inplace=True)
df['Your main technology / programming language'].replace('--', "Other", inplace=True)

 Seniority level

In [105]:
df['Seniority level'].value_counts()

Senior                                       565
Middle                                       366
Lead                                         166
Junior                                        79
Head                                          44
Principal                                      3
Manager                                        1
C-level executive manager                      1
intern                                         1
Director                                       1
CTO                                            1
Self employed                                  1
Key                                            1
No level                                       1
C-Level                                        1
Intern                                         1
student                                        1
Work Center Manager                            1
no idea, there are no ranges in the firm       1
Working Student                                1
VP                                             1
Student                                        1
No level                                       1
Entry level                                    1
Name: Seniority level, dtype: int64

In [106]:

df['Seniority level'].replace('Student', 'Entry level', inplace=True)
df['Seniority level'].replace('student', 'Entry level', inplace=True)
df['Seniority level'].replace('intern', 'Entry level', inplace=True)
df['Seniority level'].replace('Intern', 'Entry level', inplace=True)
df['Seniority level'].replace('Working Student', 'Entry level', inplace=True)
df['Seniority level'].replace('C-level executive manager', 'C-Level', inplace=True)
df['Seniority level'].replace('no idea, there are no ranges in the firm', 'Other', inplace=True)
df['Seniority level'].replace('No level', 'Other', inplace=True)
df['Seniority level'].replace('No level', 'Other', inplace=True)
df['Seniority level'].replace('Work Center Manager', 'Other', inplace=True)
df['Seniority level'].replace('Manager', 'Other', inplace=True)
df['Seniority level'].replace('CTO', 'Other', inplace=True)
df['Seniority level'].replace('Director', 'Other', inplace=True)
df['Seniority level'].replace('Key', 'Other', inplace=True)
df['Seniority level'].replace('Principal', 'Other', inplace=True)
df['Seniority level'].replace('Self employed', 'Other', inplace=True)
df['Seniority level'].replace('VP', 'Other', inplace=True)

Years of experience in Germany

In [107]:
df['Years of experience in Germany'].replace('< 1', 0.5, inplace=True)
df['Years of experience in Germany'].replace('4 (in Switzerland), 0 (in Germany)', 0, inplace=True)
df['Years of experience in Germany'].replace('4 month', 0.25, inplace=True)
df['Years of experience in Germany'].replace('2,5', 2.5, inplace=True)
df['Years of experience in Germany'].replace('3,5', 3.5, inplace=True)
df['Years of experience in Germany'].replace('1,5', 1.5, inplace=True)
df['Years of experience in Germany'].replace('4,5', 4.5, inplace=True)
df['Years of experience in Germany'].replace('0,5', 0.5, inplace=True)
df['Years of experience in Germany'].replace('1,7', 1.7, inplace=True)
df['Years of experience in Germany'].replace('3 months', 0.2, inplace=True)
df['Years of experience in Germany'].replace('3 (in Poland)', 0, inplace=True)
df['Years of experience in Germany'].replace('<1', 0.5, inplace=True)
df['Years of experience in Germany'].replace('⁰', 0, inplace=True)
df['Years of experience in Germany'].replace('0,3', 0.3, inplace=True)
df['Years of experience in Germany'].replace('-', 0, inplace=True)
df['Years of experience in Germany'].replace('6 (not as a data scientist, but as a lab scientist)', 0, inplace=True)
df['Years of experience in Germany'].replace('less than year', 0, inplace=True)

df['Years of experience in Germany'] = pd.to_numeric(df['Years of experience in Germany'], errors = 'coerce')

Position

In [108]:
df['Position '].value_counts()

Software Engineer                               387
Backend Developer                               174
Data Scientist                                  110
Frontend Developer                               89
QA Engineer                                      71
DevOps                                           57
Mobile Developer                                 53
ML Engineer                                      42
Product Manager                                  39
Data Engineer                                    25
Designer (UI/UX)                                 16
Engineering Manager                              10
Data Analyst                                      8
CTO                                               5
Project Manager                                   4
SRE                                               4
Software Architect                                4
Fullstack Developer                               4
Business Analyst                                  3
Team Lead                                         3
Hardware Engineer                                 3
Consultant                                        3
Data Analyst                                      2
Solutions Architect                               2
Security Engineer                                 2
Support Engineer                                  2
IT Manager                                        2
Head of Engineering                               2
Product Analyst                                   2
DB developer/Data analyst                         1
BI Consultant                                     1
Software tester                                   1
Teamlead                                          1
agile master                                      1
Dana Analyst                                      1
Student, Software Developer, Data Engineer        1
Full-Stack Developer                              1
Data analyst                                      1
Engineering Team Lead                             1
Senior Scrum Master (RTE)                         1
Tech recruiting                                   1
Testautomation                                    1
IT Spezialist                                     1
Security Manager                                  1
Beikoch                                           1
Banker                                            1
SW Architect                                      1
Tech Leader                                       1
Systemadministrator                               1
Cloud Architect                                   1
Network Administrator                             1
Solutions architect                               1
Technical project manager                         1
Technical Lead                                    1
Manager                                           1
Architect                                         1
data engineer                                     1
Embedded Software Engineer                        1
Scrum Master                                      1
System Administrator                              1
Consultant                                        1
Application Consultant                            1
Presales Engineer                                 1
DBA                                               1
ERP Consultant                                    1
Analyst                                           1
BI Analyst                                        1
Staff Engineer                                    1
Software Sales                                    1
Tech Lead / Full-Stack                            1
Lead Software Developer                           1
Analytics engineer                                1
Program Manager                                   1
Researcher                                        1
Freelance AI lead / advisor                       1
Software Architekt                                1
Cloud Engineer                                    1
Head of IT                                        1
Product Management Praktikant                     1
Marketing Analyst                                 1
XR Developer                                      1
Account Managet                                   1
Data Center Manager                               1
BI Developer / Data Engineer                      1
Security engineer                                 1
Stuttgart                                         1
Team lead                                         1
Computational linguist                            1
DatabEngineer                                     1
Engineering manager                               1
Test manager                                      1
Lead Developer                                    1
Chief Research Officer                            1
working student (QA)                              1
Architect                                         1
Localization producer                             1
Reporting Engineer                                1
technical business analyst                        1
Project manager                                   1
Head of BI                                        1
Firmware Engineer                                 1
C/C++/Java developer                              1
Network Engineer                                  1
Team Manager                                      1
IT Operations Manager                             1
Recruiter                                         1
SAP BW Senior Consultant                          1
Technical account manager                         1
Data Science Manager                              1
Testmanager                                       1
Graphic Designer                                  1
Director of Engineering                           1
Manager                                           1
DevOps Manager                                    1
Consultant Data Analytics                         1
Data architect                                    1
BI IT Consultant                                  1
Senior Program Manager                            1
Sales                                             1
BI Consultant SAP/ Data Engineer                  1
QA Manager                                        1
VP Engineering                                    1
Software Developer in Test                        1
Tech Lead                                         1
Professor                                         1
SAP Consultant                                    1
Researcher/ Consumer Insights Analyst             1
QA Manager                                        1
iOS Developer                                     1
DataOps Team Lead                                 1
Robotics Engineer                                 1
HiWi                                              1
Fullstack engineer, ну или Software engineer      1
Senior Data Engineer                              1
QA Lead                                           1
Big Data Engineer                                 1
Project manager                                   1
support engineer                                  1
AI Management                                     1
computer vision researcher                        1
Senior Network&Security Eng.                      1
Agile Coach                                       1
SAP Developer                                     1
It Consulting                                     1
Business Development Manager Operations           1
Solution Architect                                1
Head of IT                                        1
Rentner                                           1
Name: Position , dtype: int64

city

In [109]:
df['City'].value_counts()

Berlin                   681
Munich                   236
Frankfurt                 44
Hamburg                   40
Stuttgart                 26
Cologne                   20
Amsterdam                  9
Stuttgart                  7
Karlsruhe                  6
Düsseldorf                 6
Prague                     6
Moscow                     6
Zurich                     5
Stockholm                  5
London                     5
Nürnberg                   4
Helsinki                   4
Heidelberg                 4
Düsseldorf                 4
Rome                       3
Mannheim                   3
Darmstadt                  3
Boeblingen                 3
Wolfsburg                  3
Bonn                       3
Hannover                   3
Dusseldorf                 3
Tallinn                    3
Milan                      2
Lisbon                     2
Vienna                     2
Regensburg                 2
Barcelona                  2
Eindhoven                  2
Saint-Petersburg           2
Paris                      2
Ingolstadt                 2
Kyiv                       2
Nuremberg                  2
Aachen                     2
Madrid                     2
Siegen                     2
Warsaw                     2
Leipzig                    2
Rosenheim                  2
Bucharest                  1
Tampere (Finland)          1
Bielefeld                  1
Innsbruck                  1
Dusseldurf                 1
Ulm                        1
Dortmund                   1
Cracovia                   1
Cambridge                  1
Karlsruhe                  1
Kiev                       1
Nuremberg                  1
Mannheim                   1
Malta                      1
Erlangen                   1
Fr                         1
Münster                    1
Heidelberg                 1
Kempten                    1
Würzburg                   1
Braunschweig               1
Utrecht                    1
France                     1
Jena                       1
Konstanz                   1
Sofia                      1
Bodensee                   1
Copenhagen                 1
Brussels                   1
Brussels                   1
Sevilla                    1
Istanbul                   1
Milano                     1
Saarbrücken                1
Walldorf                   1
Murnau am Staffelsee       1
Ansbach                    1
Samara                     1
Hildesheim                 1
Lübeck                     1
Riga, Latvia               1
Friedrichshafen            1
Tuttlingen                 1
Moldova                    1
Paderborn                  1
Cupertino                  1
Dresden                    1
Marseille                  1
City in Russia             1
Köln                       1
Minsk                      1
NJ, USA                    1
Heilbronn                  1
Warsaw, Poland             1
Dublin                     1
Basel                      1
Hildesheim                 1
Krakow                     1
Koblenz                    1
Luttich                    1
Den Haag                   1
Zürich                     1
Prefer not to say          1
Wroclaw                    1
Bölingen                   1
Konstanz area              1
Schleswig-Holstein         1
Salzburg                   1
Cracow                     1
Ingolstadt                 1
Brunswick                  1
warsaw                     1
Duesseldorf                1
Dublin                     1
Name: City, dtype: int64

In [110]:
df['City'].replace('Amsterdam', 'Other', inplace=True)
df['City'].replace('Düsseldorf', 'Other', inplace=True)
df['City'].replace('Stuttgart', 'Other', inplace=True)
df['City'].replace('Stuttgart', 'Other', inplace=True)
df['City'].replace('Düsseldorf', 'Other', inplace=True)
df['City'].replace('Heidelberg', 'Other', inplace=True)
df['City'].replace('Mannheim', 'Other', inplace=True)
df['City'].replace('Dublin', 'Other', inplace=True)
df['City'].replace('Murnau am Staffelsee', 'Other', inplace=True)
df['City'].replace('Brussels', 'Other', inplace=True)
df['City'].replace('Hildesheim', 'Other', inplace=True)
df['City'].replace('Ingolstadt', 'Other', inplace=True)
df['City'].replace('Nuremberg', 'Other', inplace=True)
df['City'].replace('Braunschweig', 'Other', inplace=True)
df['City'].replace('Karlsruhe', 'Other', inplace=True)
df['City'].replace('Düsseldorf', 'Other', inplace=True)
df['City'].replace('Prague', 'Other', inplace=True)
df['City'].replace('Moscow', 'Other', inplace=True)
df['City'].replace('Karlsruhe', 'Other', inplace=True)
df['City'].replace('London', 'Other', inplace=True)
df['City'].replace('Stockholm', 'Other', inplace=True)
df['City'].replace('Zurich', 'Other', inplace=True)
df['City'].replace('Helsinki', 'Other', inplace=True)
df['City'].replace('Heidelberg', 'Other', inplace=True)
df['City'].replace('Düsseldorf', 'Other', inplace=True)
df['City'].replace('Nürnberg', 'Other', inplace=True)
df['City'].replace('Bonn', 'Other', inplace=True)
df['City'].replace('Darmstadt', 'Other', inplace=True)
df['City'].replace('Rome', 'Other', inplace=True)
df['City'].replace('Wolfsburg', 'Other', inplace=True)
df['City'].replace('Hannover', 'Other', inplace=True)
df['City'].replace('Mannheim', 'Other', inplace=True)
df['City'].replace('Dusseldorf', 'Other', inplace=True)
df['City'].replace('Boeblingen', 'Other', inplace=True)
df['City'].replace('Tallinn', 'Other', inplace=True)
df['City'].replace('Siegen', 'Other', inplace=True)
df['City'].replace('Milan', 'Other', inplace=True)
df['City'].replace('Saint-Petersburg', 'Other', inplace=True)
df['City'].replace('Regensburg', 'Other', inplace=True)
df['City'].replace('Madrid', 'Other', inplace=True)
df['City'].replace('Nuremberg', 'Other', inplace=True)
df['City'].replace('Rosenheim', 'Other', inplace=True)
df['City'].replace('Lisbon', 'Other', inplace=True)
df['City'].replace('Aachen', 'Other', inplace=True)
df['City'].replace('Leipzig', 'Other', inplace=True)
df['City'].replace('Vienna', 'Other', inplace=True)
df['City'].replace('Kyiv', 'Other', inplace=True)
df['City'].replace('Paris', 'Other', inplace=True)
df['City'].replace('Eindhoven', 'Other', inplace=True)
df['City'].replace('Warsaw', 'Other', inplace=True)
df['City'].replace('Ingolstadt', 'Other', inplace=True)
df['City'].replace('Barcelona', 'Other', inplace=True)
df['City'].replace('Minsk', 'Other', inplace=True)
df['City'].replace('Konstanz', 'Other', inplace=True)
df['City'].replace('Wroclaw', 'Other', inplace=True)
df['City'].replace('Köln', 'Other', inplace=True)
df['City'].replace('Cambridge', 'Other', inplace=True)
df['City'].replace('Tampere (Finland)', 'Other', inplace=True)
df['City'].replace('Dublin', 'Other', inplace=True)
df['City'].replace('Sofia', 'Other', inplace=True)
df['City'].replace('Kempten', 'Other', inplace=True)
df['City'].replace('Samara', 'Other', inplace=True)
df['City'].replace('Bielefeld', 'Other', inplace=True)
df['City'].replace('Istanbul', 'Other', inplace=True)
df['City'].replace('Jena', 'Other', inplace=True)
df['City'].replace('Tuttlingen', 'Other', inplace=True)
df['City'].replace('Luttich', 'Other', inplace=True)
df['City'].replace('Ulm', 'Other', inplace=True)
df['City'].replace('Kiev', 'Other', inplace=True)
df['City'].replace('Erlangen', 'Other', inplace=True)
df['City'].replace('Braunschweig', 'Other', inplace=True)
df['City'].replace('Heidelberg', 'Other', inplace=True)
df['City'].replace('Lübeck', 'Other', inplace=True)
df['City'].replace('Heilbronn', 'Other', inplace=True)
df['City'].replace('Moldova', 'Other', inplace=True)
df['City'].replace('Basel', 'Other', inplace=True)
df['City'].replace('Fr', 'Other', inplace=True)
df['City'].replace('Malta', 'Other', inplace=True)
df['City'].replace('Dublin', 'Other', inplace=True)
df['City'].replace('Copenhagen', 'Other', inplace=True)
df['City'].replace('Bodensee', 'Other', inplace=True)
df['City'].replace('Hildesheim', 'Other', inplace=True)
df['City'].replace('Marseille', 'Other', inplace=True)
df['City'].replace('Den Haag', 'Other', inplace=True)
df['City'].replace('Brunswick', 'Other', inplace=True)
df['City'].replace('Krakow', 'Other', inplace=True)
df['City'].replace('Sevilla', 'Other', inplace=True)
df['City'].replace('Duesseldorf', 'Other', inplace=True)
df['City'].replace('Cracovia', 'Other', inplace=True)
df['City'].replace('Salzburg', 'Other', inplace=True)
df['City'].replace('France', 'Other', inplace=True)
df['City'].replace('NJ, USA', 'Other', inplace=True)
df['City'].replace('Dresden', 'Other', inplace=True)
df['City'].replace('Bölingen', 'Other', inplace=True)
df['City'].replace('warsaw', 'Other', inplace=True)
df['City'].replace('Warsaw, Poland', 'Other', inplace=True)
df['City'].replace('City in Russia', 'Other', inplace=True)
df['City'].replace('Prefer not to say', 'Other', inplace=True)
df['City'].replace('Utrecht', 'Other', inplace=True)
df['City'].replace('Cupertino', 'Other', inplace=True)
df['City'].replace('Koblenz', 'Other', inplace=True)
df['City'].replace('Riga, Latvia', 'Other', inplace=True)
df['City'].replace('Würzburg', 'Other', inplace=True)
df['City'].replace('Friedrichshafen', 'Other', inplace=True)
df['City'].replace('Münster', 'Other', inplace=True)
df['City'].replace('Innsbruck', 'Other', inplace=True)
df['City'].replace('Ingolstadt', 'Other', inplace=True)
df['City'].replace('Hildesheim', 'Other', inplace=True)
df['City'].replace('Konstanz area', 'Other', inplace=True)
df['City'].replace('Brussels', 'Other', inplace=True)
df['City'].replace('Saarbrücken', 'Other', inplace=True)
df['City'].replace('Mannheim', 'Other', inplace=True)
df['City'].replace('Paderborn', 'Other', inplace=True)
df['City'].replace('Ansbach', 'Other', inplace=True)
df['City'].replace('Murnau am Staffelsee', 'Other', inplace=True)
df['City'].replace('Brussels', 'Other', inplace=True)
df['City'].replace('Karlsruhe', 'Other', inplace=True)
df['City'].replace('Dusseldurf', 'Other', inplace=True)
df['City'].replace('Milano', 'Other', inplace=True)
df['City'].replace('Bucharest', 'Other', inplace=True)
df['City'].replace('Schleswig-Holstein', 'Other', inplace=True)
df['City'].replace('Zürich', 'Other', inplace=True)
df['City'].replace('Cracow', 'Other', inplace=True)
df['City'].replace('Dortmund', 'Other', inplace=True)
df['City'].replace('Nuremberg', 'Other', inplace=True)
df['City'].replace('Walldorf', 'Other', inplace=True)

In [111]:
df['Yearly bonus + stocks in EUR'].fillna(0)

0       5.000000e+03
1       0.000000e+00
2       1.200000e+05
3       0.000000e+00
4       0.000000e+00
5       5.000000e+03
6       0.000000e+00
7       0.000000e+00
8       0.000000e+00
9       0.000000e+00
10      0.000000e+00
11      1.010000e+02
12      4.000000e+04
13      0.000000e+00
14      9.400000e+03
15      2.000000e+03
16      0.000000e+00
17      0.000000e+00
18      0.000000e+00
19      8.000000e+04
20      0.000000e+00
21      0.000000e+00
22      0.000000e+00
23      0.000000e+00
24      0.000000e+00
25      4.000000e+03
26      1.000000e+04
27      1.000000e+03
28      7.000000e+03
29      0.000000e+00
30      5.000000e+03
31      0.000000e+00
32      2.000000e+03
33      0.000000e+00
34      1.010000e+02
35      8.000000e+04
36      0.000000e+00
37      0.000000e+00
38      0.000000e+00
39      0.000000e+00
40      1.200000e+04
41      1.500000e+03
42      0.000000e+00
43      3.520000e+04
44      1.500000e+04
45      0.000000e+00
46      0.000000e+00
47      0.000000e+00
48      8.000000e+03
49      1.000000e+04
50      0.000000e+00
51      0.000000e+00
52      0.000000e+00
53      0.000000e+00
54      0.000000e+00
55      0.000000e+00
56      5.000000e+03
57      1.000000e+04
58      0.000000e+00
59      0.000000e+00
60      1.000000e+03
61      0.000000e+00
62      0.000000e+00
63      7.200000e+04
64      0.000000e+00
65      0.000000e+00
66      3.000000e+04
67      1.000000e+04
68      0.000000e+00
69      0.000000e+00
70      0.000000e+00
71      0.000000e+00
72      0.000000e+00
73      5.000000e+03
74      0.000000e+00
75      0.000000e+00
76      7.500000e+04
77      0.000000e+00
78      0.000000e+00
79      1.000000e+04
80      0.000000e+00
81      0.000000e+00
82      0.000000e+00
83      3.000000e+04
84      0.000000e+00
85      0.000000e+00
86      0.000000e+00
87      0.000000e+00
88      7.300000e+04
89      1.000000e+04
90      0.000000e+00
91      1.000000e+04
92      3.000000e+03
93      0.000000e+00
94      0.000000e+00
95      0.000000e+00
96      0.000000e+00
97      0.000000e+00
98      0.000000e+00
99      0.000000e+00
100     4.000000e+03
101     0.000000e+00
102     0.000000e+00
103     0.000000e+00
104     0.000000e+00
105     0.000000e+00
106     5.800000e+03
107     3.000000e+04
108     0.000000e+00
109     7.000000e+03
110     4.000000e+04
111     0.000000e+00
112     0.000000e+00
113     0.000000e+00
114     0.000000e+00
115     5.600000e+04
116     3.000000e+03
117     0.000000e+00
118     1.200000e+04
119     4.000000e+03
120     8.000000e+03
121     0.000000e+00
122     7.500000e+04
123     1.200000e+04
124     6.300000e+03
125     0.000000e+00
126     6.000000e+03
127     1.010000e+02
128     1.010000e+02
129     5.000000e+03
130     1.000000e+03
131     2.000000e+04
132     5.000000e+03
133     0.000000e+00
134     0.000000e+00
135     6.200000e+04
136     1.500000e+03
137     0.000000e+00
138     3.000000e+03
139     7.500000e+04
140     2.200000e+04
141     4.000000e+04
142     0.000000e+00
143     0.000000e+00
144     5.000000e+03
145     2.000000e+03
146     5.000000e+03
147     0.000000e+00
148     0.000000e+00
149     1.500000e+03
150     0.000000e+00
151     0.000000e+00
152     0.000000e+00
153     0.000000e+00
154     0.000000e+00
155     0.000000e+00
156     7.500000e+03
157     0.000000e+00
158     0.000000e+00
159     6.700000e+04
160     7.750000e+03
161     5.000000e+03
162     0.000000e+00
163     6.000000e+03
164     1.010000e+02
165     0.000000e+00
166     0.000000e+00
167     0.000000e+00
168     2.000000e+03
169     0.000000e+00
170     0.000000e+00
171     0.000000e+00
172     0.000000e+00
173     5.000000e+03
174     8.500000e+03
175     7.000000e+04
176     0.000000e+00
177     5.000000e+03
178     7.000000e+04
179     0.000000e+00
180     0.000000e+00
181     0.000000e+00
182     0.000000e+00
183     1.780000e+04
184     1.000000e+04
185     0.000000e+00
186     7.000000e+04
187     1.000000e+04
188     0.000000e+00
189     0.000000e+00
190     3.000000e+03
191     4.000000e+03
192     6.000000e+03
193     0.000000e+00
194     0.000000e+00
195     2.500000e+04
196     1.010000e+02
197     1.200000e+04
198     0.000000e+00
199     4.000000e+03
200     5.000000e+03
201     0.000000e+00
202     4.000000e+03
203     0.000000e+00
204     6.000000e+03
205     5.000000e+03
206     2.600000e+04
207     0.000000e+00
208     0.000000e+00
209     1.030000e+04
210     0.000000e+00
211     0.000000e+00
212     0.000000e+00
213     0.000000e+00
214     0.000000e+00
215     5.000000e+03
216     6.900000e+03
217     0.000000e+00
218     2.000000e+03
219     2.000000e+03
220     9.500000e+04
221     4.700000e+03
222     0.000000e+00
223     0.000000e+00
224     0.000000e+00
225     1.010000e+02
226     0.000000e+00
227     0.000000e+00
228     0.000000e+00
229     6.200000e+04
230     1.800000e+04
231     2.000000e+03
232     0.000000e+00
233     0.000000e+00
234     2.000000e+03
235     1.400000e+05
236     0.000000e+00
237     0.000000e+00
238     7.500000e+04
239     1.000000e+03
240     7.300000e+04
241     2.250000e+04
242     0.000000e+00
243     1.000000e+04
244     0.000000e+00
245     2.000000e+03
246     0.000000e+00
247     0.000000e+00
248     1.120000e+05
249     7.300000e+03
250     5.000000e+03
251     7.700000e+04
252     2.000000e+03
253     1.700000e+04
254     0.000000e+00
255     0.000000e+00
256     7.000000e+03
257     0.000000e+00
258     0.000000e+00
259     3.200000e+04
260     1.215000e+04
261     0.000000e+00
262     1.000000e+04
263     0.000000e+00
264     0.000000e+00
265     1.000000e+04
266     0.000000e+00
267     6.000000e+03
268     4.000000e+03
269     6.000000e+04
270     0.000000e+00
271     0.000000e+00
272     0.000000e+00
273     0.000000e+00
274     0.000000e+00
275     8.000000e+03
276     1.500000e+03
277     0.000000e+00
278     1.500000e+04
279     2.000000e+05
280     0.000000e+00
281     0.000000e+00
282     3.500000e+03
283     1.010000e+02
284     0.000000e+00
285     0.000000e+00
286     7.000000e+03
287     8.000000e+03
288     0.000000e+00
289     0.000000e+00
290     0.000000e+00
291     2.500000e+04
292     2.000000e+04
293     7.000000e+04
294     0.000000e+00
295     0.000000e+00
296     0.000000e+00
297     0.000000e+00
298     0.000000e+00
299     0.000000e+00
300     5.000000e+02
301     7.000000e+04
302     0.000000e+00
303     0.000000e+00
304     6.350000e+04
305     0.000000e+00
306     0.000000e+00
307     8.000000e+03
308     0.000000e+00
309     2.024000e+04
310     3.000000e+03
311     0.000000e+00
312     7.000000e+04
313     5.000000e+03
314     5.000000e+03
315     0.000000e+00
316     0.000000e+00
317     7.000000e+04
318     0.000000e+00
319     0.000000e+00
320     0.000000e+00
321     2.000000e+03
322     0.000000e+00
323     8.120000e+04
324     1.100000e+04
325     0.000000e+00
326     7.500000e+04
327     0.000000e+00
328     4.000000e+03
329     0.000000e+00
330     0.000000e+00
331     0.000000e+00
332     1.200000e+04
333     6.500000e+03
334     0.000000e+00
335     0.000000e+00
336     0.000000e+00
337     4.600000e+04
338     0.000000e+00
339     2.000000e+03
340     0.000000e+00
341     5.000000e+03
342     5.000000e+03
343     0.000000e+00
344     0.000000e+00
345     0.000000e+00
346     0.000000e+00
347     5.000000e+03
348     0.000000e+00
349     0.000000e+00
350     0.000000e+00
351     0.000000e+00
352     6.000000e+03
353     4.000000e+02
354     7.500000e+03
355     1.221300e+02
356     0.000000e+00
357     0.000000e+00
358     5.000000e+03
359     2.000000e+04
360     5.600000e+03
361     0.000000e+00
362     5.000000e+03
363     0.000000e+00
364     4.000000e+03
365     0.000000e+00
366     0.000000e+00
367     0.000000e+00
368     0.000000e+00
369     0.000000e+00
370     5.600000e+04
371     4.500000e+03
372     5.000000e+02
373     0.000000e+00
374     5.400000e+03
375     0.000000e+00
376     0.000000e+00
377     0.000000e+00
378     0.000000e+00
379     0.000000e+00
380     1.200000e+04
381     0.000000e+00
382     0.000000e+00
383     1.450000e+04
384     7.700000e+04
385     0.000000e+00
386     0.000000e+00
387     4.350000e+04
388     1.500000e+04
389     5.040000e+04
390     0.000000e+00
391     0.000000e+00
392     2.000000e+04
393     0.000000e+00
394     8.000000e+02
395     0.000000e+00
396     0.000000e+00
397     0.000000e+00
398     8.800000e+04
399     0.000000e+00
400     0.000000e+00
401     0.000000e+00
402     1.000000e+03
403     2.880000e+04
404     6.500000e+04
405     1.000000e+04
406     2.000000e+03
407     0.000000e+00
408     8.600000e+04
409     3.000000e+03
410     0.000000e+00
411     1.000000e+03
412     0.000000e+00
413     7.740000e+04
414     0.000000e+00
415     0.000000e+00
416     0.000000e+00
417     0.000000e+00
418     0.000000e+00
419     0.000000e+00
420     3.000000e+03
421     1.200000e+01
422     0.000000e+00
423     0.000000e+00
424     0.000000e+00
425     6.000000e+04
426     0.000000e+00
427     0.000000e+00
428     0.000000e+00
429     6.500000e+04
430     0.000000e+00
431     6.200000e+04
432     1.000000e+03
433     7.400000e+04
434     1.200000e+05
435     0.000000e+00
436     1.920000e+04
437     5.000000e+03
438     0.000000e+00
439     0.000000e+00
440     0.000000e+00
441     2.000000e+05
442     2.000000e+04
443     0.000000e+00
444     0.000000e+00
445     3.520000e+03
446     0.000000e+00
447     1.000000e+04
448     0.000000e+00
449     9.600000e+04
450     0.000000e+00
451     4.750000e+04
452     1.500000e+03
453     4.560000e+04
454     9.000000e+03
455     5.500000e+04
456     5.000000e+03
457     0.000000e+00
458     0.000000e+00
459     1.100000e+04
460     1.000000e+03
461     0.000000e+00
462     0.000000e+00
463     0.000000e+00
464     0.000000e+00
465     0.000000e+00
466     0.000000e+00
467     1.190000e+04
468     0.000000e+00
469     0.000000e+00
470     0.000000e+00
471     0.000000e+00
472     0.000000e+00
473     0.000000e+00
474     0.000000e+00
475     0.000000e+00
476     2.000000e+04
477     6.000000e+03
478     0.000000e+00
479     0.000000e+00
480     6.000000e+03
481     5.000000e+03
482     0.000000e+00
483     0.000000e+00
484     8.000000e+03
485     0.000000e+00
486     0.000000e+00
487     8.000000e+03
488     1.000000e+04
489     1.200000e+04
490     0.000000e+00
491     0.000000e+00
492     0.000000e+00
493     0.000000e+00
494     1.500000e+05
495     0.000000e+00
496     0.000000e+00
497     1.200000e+05
498     0.000000e+00
499     7.000000e+03
500     0.000000e+00
501     0.000000e+00
502     0.000000e+00
503     0.000000e+00
504     1.350000e+04
505     0.000000e+00
506     0.000000e+00
507     0.000000e+00
508     2.500000e+04
509     5.000000e+03
510     0.000000e+00
511     5.000000e+04
512     0.000000e+00
513     1.000000e+03
514     0.000000e+00
515     7.000000e+03
516     0.000000e+00
517     0.000000e+00
518     7.000000e+04
519     1.600000e+03
520     0.000000e+00
521     0.000000e+00
522     5.500000e+03
523     0.000000e+00
524     0.000000e+00
525     0.000000e+00
526     0.000000e+00
527     4.000000e+03
528     4.500000e+04
529     1.500000e+05
530     3.400000e+03
531     0.000000e+00
532     0.000000e+00
533     0.000000e+00
534     0.000000e+00
535     0.000000e+00
536     0.000000e+00
537     0.000000e+00
538     0.000000e+00
539     0.000000e+00
540     0.000000e+00
541     0.000000e+00
542     1.500000e+04
543     0.000000e+00
544     0.000000e+00
545     5.000000e+03
546     8.000000e+03
547     0.000000e+00
548     1.700000e+04
549     0.000000e+00
550     0.000000e+00
551     5.000000e+03
552     1.800000e+04
553     3.850000e+04
554     0.000000e+00
555     2.000000e+03
556     0.000000e+00
557     0.000000e+00
558     0.000000e+00
559     2.500000e+04
560     0.000000e+00
561     1.000000e+04
562     2.400000e+03
563     1.000000e+04
564     1.150000e+06
565     1.000000e+03
566     1.000000e+04
567     0.000000e+00
568     6.000000e+03
569     9.000000e+03
570     0.000000e+00
571     0.000000e+00
572     1.000000e+04
573     0.000000e+00
574     2.000000e+05
575     0.000000e+00
576     0.000000e+00
577     0.000000e+00
578     0.000000e+00
579     0.000000e+00
580     4.300000e+03
581     0.000000e+00
582     0.000000e+00
583     1.100000e+04
584     3.000000e+04
585     0.000000e+00
586     5.500000e+04
587     0.000000e+00
588     5.000000e+03
589     0.000000e+00
590     0.000000e+00
591     0.000000e+00
592     0.000000e+00
593     8.500000e+04
594     0.000000e+00
595     2.000000e+04
596     0.000000e+00
597     5.900000e+04
598     0.000000e+00
599     0.000000e+00
600     0.000000e+00
601     2.000000e+04
602     2.500000e+04
603     1.000000e+03
604     1.000000e+05
605     0.000000e+00
606     0.000000e+00
607     6.390900e+04
608     0.000000e+00
609     1.000000e+05
610     1.500000e+04
611     0.000000e+00
612     0.000000e+00
613     0.000000e+00
614     9.900000e+04
615     0.000000e+00
616     0.000000e+00
617     0.000000e+00
618     0.000000e+00
619     0.000000e+00
620     1.500000e+04
621     4.000000e+04
622     7.000000e+03
623     0.000000e+00
624     1.500000e+04
625     0.000000e+00
626     7.700000e+04
627     7.050000e+04
628     0.000000e+00
629     0.000000e+00
630     4.500000e+05
631     5.000000e+03
632     0.000000e+00
633     8.000000e+04
634     2.070000e+04
635     1.000000e+03
636     5.000000e+03
637     7.500000e+04
638     7.800000e+04
639     0.000000e+00
640     0.000000e+00
641     0.000000e+00
642     0.000000e+00
643     0.000000e+00
644     1.500000e+04
645     6.000000e+03
646     6.000000e+03
647     0.000000e+00
648     7.000000e+03
649     0.000000e+00
650     0.000000e+00
651     0.000000e+00
652     0.000000e+00
653     0.000000e+00
654     6.000000e+03
655     9.000000e+03
656     0.000000e+00
657     4.250000e+03
658     2.000000e+04
659     0.000000e+00
660     8.900000e+04
661     0.000000e+00
662     1.000000e+04
663     0.000000e+00
664     0.000000e+00
665     4.500000e+04
666     0.000000e+00
667     0.000000e+00
668     8.000000e+03
669     0.000000e+00
670     0.000000e+00
671     0.000000e+00
672     0.000000e+00
673     5.000000e+03
674     1.000000e+05
675     0.000000e+00
676     0.000000e+00
677     9.000000e+03
678     0.000000e+00
679     0.000000e+00
680     0.000000e+00
681     0.000000e+00
682     1.000000e+03
683     5.000000e+04
684     6.000000e+03
685     0.000000e+00
686     0.000000e+00
687     7.000000e+04
688     3.000000e+03
689     0.000000e+00
690     0.000000e+00
691     2.000000e+04
692     1.026000e+05
693     0.000000e+00
694     0.000000e+00
695     1.200000e+04
696     1.200000e+05
697     8.000000e+03
698     0.000000e+00
699     0.000000e+00
700     0.000000e+00
701     0.000000e+00
702     0.000000e+00
703     5.000000e+02
704     7.100000e+03
705     0.000000e+00
706     0.000000e+00
707     0.000000e+00
708     3.375000e+03
709     0.000000e+00
710     0.000000e+00
711     0.000000e+00
712     2.000000e+03
713     7.700000e+04
714     0.000000e+00
715     1.000000e+03
716     0.000000e+00
717     4.000000e+03
718     0.000000e+00
719     0.000000e+00
720     0.000000e+00
721     0.000000e+00
722     1.000000e+03
723     6.000000e+03
724     5.000000e+03
725     0.000000e+00
726     0.000000e+00
727     3.500000e+04
728     0.000000e+00
729     0.000000e+00
730     0.000000e+00
731     0.000000e+00
732     1.500000e+05
733     5.000000e+03
734     0.000000e+00
735     0.000000e+00
736     1.000000e+04
737     1.000000e+04
738     1.000000e+04
739     0.000000e+00
740     1.100000e+04
741     0.000000e+00
742     1.000000e+04
743     0.000000e+00
744     6.710000e+03
745     2.000000e+05
746     0.000000e+00
747     0.000000e+00
748     0.000000e+00
749     0.000000e+00
750     2.300000e+04
751     0.000000e+00
752     0.000000e+00
753     7.500000e+04
754     0.000000e+00
755     0.000000e+00
756     1.200000e+04
757     0.000000e+00
758     0.000000e+00
759     0.000000e+00
760     0.000000e+00
761     3.600000e+03
762     0.000000e+00
763     0.000000e+00
764     1.200000e+04
765     1.000000e+03
766     1.000000e+03
767     0.000000e+00
768     0.000000e+00
769     0.000000e+00
770     0.000000e+00
771     9.700000e+04
772     0.000000e+00
773     1.000000e+04
774     0.000000e+00
775     1.000000e+04
776     6.000000e+03
777     1.100000e+03
778     9.500000e+04
779     0.000000e+00
780     0.000000e+00
781     1.000000e+04
782     0.000000e+00
783     0.000000e+00
784     8.000000e+03
785     3.000000e+04
786     0.000000e+00
787     0.000000e+00
788     0.000000e+00
789     0.000000e+00
790     0.000000e+00
791     1.000000e+04
792     0.000000e+00
793     0.000000e+00
794     0.000000e+00
795     0.000000e+00
796     7.000000e+03
797     0.000000e+00
798     0.000000e+00
799     0.000000e+00
800     0.000000e+00
801     5.000000e+03
802     1.000000e+04
803     6.500000e+04
804     0.000000e+00
805     2.000000e+03
806     5.000000e+03
807     0.000000e+00
808     0.000000e+00
809     3.000000e+04
810     0.000000e+00
811     1.000000e+04
812     5.000000e+04
813     0.000000e+00
814     0.000000e+00
815     0.000000e+00
816     0.000000e+00
817     0.000000e+00
818     3.000000e+03
819     0.000000e+00
820     0.000000e+00
821     0.000000e+00
822     0.000000e+00
823     1.000000e+04
824     0.000000e+00
825     0.000000e+00
826     0.000000e+00
827     0.000000e+00
828     0.000000e+00
829     0.000000e+00
830     3.000000e+03
831     1.500000e+04
832     0.000000e+00
833     5.000000e+04
834     1.000000e+03
835     9.000000e+04
836     8.000000e+04
837     0.000000e+00
838     3.796800e+04
839     0.000000e+00
840     0.000000e+00
841     1.000000e+04
842     0.000000e+00
843     1.000000e+04
844     0.000000e+00
845     0.000000e+00
846     0.000000e+00
847     4.400000e+03
848     0.000000e+00
849     0.000000e+00
850     0.000000e+00
851     6.650000e+04
852     4.000000e+03
853     5.000000e+09
854     3.000000e+03
855     5.000000e+04
856     8.400000e+04
857     2.000000e+04
858     0.000000e+00
859     8.000000e+04
860     4.500000e+03
861     0.000000e+00
862     0.000000e+00
863     0.000000e+00
864     0.000000e+00
865     1.700000e+04
866     1.590000e+04
867     0.000000e+00
868     0.000000e+00
869     4.500000e+03
870     7.500000e+03
871     0.000000e+00
872     1.000000e+05
873     0.000000e+00
874     2.000000e+03
875     0.000000e+00
876     6.000000e+03
877     0.000000e+00
878     6.000000e+03
879     0.000000e+00
880     0.000000e+00
881     5.500000e+04
882     0.000000e+00
883     0.000000e+00
884     0.000000e+00
885     0.000000e+00
886     0.000000e+00
887     0.000000e+00
888     0.000000e+00
889     0.000000e+00
890     6.000000e+03
891     0.000000e+00
892     0.000000e+00
893     0.000000e+00
894     6.000000e+03
895     0.000000e+00
896     4.500000e+04
897     0.000000e+00
898     6.000000e+03
899     0.000000e+00
900     7.300000e+04
901     1.500000e+04
902     0.000000e+00
903     0.000000e+00
904     0.000000e+00
905     2.100000e+04
906     0.000000e+00
907     0.000000e+00
908     0.000000e+00
909     7.000000e+03
910     0.000000e+00
911     4.000000e+04
912     0.000000e+00
913     0.000000e+00
914     0.000000e+00
915     8.725000e+04
916     0.000000e+00
917     0.000000e+00
918     2.000000e+04
919     8.500000e+04
920     0.000000e+00
921     6.000000e+03
922     7.500000e+04
923     0.000000e+00
924     1.000000e+03
925     1.500000e+04
926     1.000000e+03
927     0.000000e+00
928     3.000000e+03
929     0.000000e+00
930     7.000000e+04
931     2.000000e+03
932     0.000000e+00
933     6.000000e+03
934     7.100000e+04
935     0.000000e+00
936     1.060000e+05
937     2.000000e+03
938     0.000000e+00
939     0.000000e+00
940     4.300000e+04
941     1.200000e+04
942     0.000000e+00
943     0.000000e+00
944     0.000000e+00
945     0.000000e+00
946     7.500000e+03
947     3.000000e+03
948     0.000000e+00
949     1.000000e+04
950     0.000000e+00
951     1.400000e+04

In [112]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,18,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1230.0,NaN,NaN,NaN,9.07813,11.901317,0.0,5.0,8.0,12.0,383.0
Years of experience in Germany,1221.0,NaN,NaN,NaN,3.699386,3.641314,0.0,1.0,3.0,5.0,30.0
Seniority level,1241,10,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,41,Java,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,823.0,NaN,NaN,NaN,6096870.478068,174288300.185504,0.0,0.0,5000.0,20000.0,5000000000.0
Number of vacation days,1176.0,NaN,NaN,NaN,28.338861,10.744072,0.0,27.0,28.0,30.0,365.0
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,2,Unlimited contract,1160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,4,English,1025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,14,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
df.isna().sum()

Age                                                        27
Gender                                                     10
City                                                        0
Position                                                    6
Total years of experience                                  23
Years of experience in Germany                             32
Seniority level                                            12
Your main technology / programming language               127
Yearly brutto salary (without bonus and stocks) in EUR      0
Yearly bonus + stocks in EUR                              430
Number of vacation days                                    77
Employment status                                          17
Сontract duration                                          29
Main language at work                                      16
Company size                                               18
Company type                                               25
dtype: int64

In [114]:
df['Total Compensation'] = df['Yearly brutto salary (without bonus and stocks) in EUR'] + df['Yearly bonus + stocks in EUR']

In [115]:
df = df.drop(columns={'Yearly bonus + stocks in EUR', 'Yearly brutto salary (without bonus and stocks) in EUR'})

In [116]:
for col in ['Gender', 'City', 'Seniority level', 'Company type', 'Company size','Main language at work','Сontract duration','Your main technology / programming language', 'Employment status']:
    df[col] = df[col].astype('category')

In [117]:
#df = df.dropna()

In [130]:
df.replace('nan', np.nan, inplace=True)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 15 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Age                                          1226 non-null   float64
 1   Gender                                       1243 non-null   category
 2   City                                         1253 non-null   category
 3   Position                                     1247 non-null   object
 4   Total years of experience                    1230 non-null   float64
 5   Years of experience in Germany               1221 non-null   float64
 6   Seniority level                              1241 non-null   category
 7   Your main technology / programming language  1126 non-null   category
 8   Number of vacation days                      1176 non-null   float64
 9   Employment status                            1236 non-null   category
 10  Сontract duration                            1224 non-null   category
 11  Main language at work                        1237 non-null   category
 12  Company size                                 1235 non-null   category
 13  Company type                                 1228 non-null   category
 14  Total Compensation                           823 non-null    float64
dtypes: category(9), float64(5), object(1)
memory usage: 74.0+ KB

Model

In [136]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import cross_val_score

model = RandomForestClassifier(n_jobs=-1)
pipe_model = LinearRegression()

min_features_to_select = 1 
rfecv_pipe = RFECV(
    estimator=pipe_model,
    step=1,
    cv=3,
    scoring="accuracy",
    min_features_to_select=min_features_to_select,
)

numeric_features = ['Age', 'Total years of experience', 'Number of vacation days','Years of experience in Germany']
numeric_transformer = Pipeline( steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", MinMaxScaler())
    ])

categorical_features = ['Gender', 'City', 'Seniority level', 'Company type', 'Company size','Main language at work','Сontract duration','Your main technology / programming language', 'Employment status']
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

preprocessor = ColumnTransformer( remainder='drop',
        transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ])

#Split data as normal
y = df['Total Compensation']
X = df.drop(columns={'Total Compensation'})

#Build pipeline
l1_model = Lasso()
l2_model = Ridge()
pipeline_steps = [('pre', preprocessor),("fs", rfecv_pipe), ('model', l2_model) ]
pipe = Pipeline(pipeline_steps)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [137]:
pipe.fit(X_train, y_train)
pipe.score(X_test,y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

# Answers and Explainations
<li> Combined Salary and Bonus into one and then dropped the 2 individual columns
<li>Dropped other technologies as it was redundant considering the answers were the same as main technologies.

### Results

### Feature Selection Activities

### Hyperparameter Changes